<!-- Media Info START -->
<div class="container no-scroll h-100">
  <div class="banner-full h-100">
    <div class="info">
      <h1 class="m rm-b">MovieTitle</h1>
      <p class="desc">It is a long established fact that a reader will be distracted by the readable content
        of a page when looking at its layout.</p>
      <a class="text color-grey">IMDb: Score</a>&emsp;
      <a class="text color-grey">Vex Points</a>
      <p><a class="btn outline yellow">Watch Now</a></p>
    </div>
    <span class="overlay"></span>
    <div class="about">
      <div class="content">
        <p>Genre: Genre</p>
        <p>Duration: Duration</p>
      </div>
      <div class="content">
        <p>Cast: Cast</p>
        <p>Released: Released</p>
      </div>
    </div>
    <img src="../../../assets/img/proud-mary.jpg" class="w-100 h-100">
  </div>
</div>
<!-- Media Info END -->