<div class="form" [formGroup]="signinForm">
    <h4>Sign In</h4>
    <input type="text" placeholder="Username" name="username" formControlName="username">
    <input type="password" placeholder="Password" name="password" formControlName="password">
    <button class="button call-to-action" (click)="loginUser(getSignInForm.value)">Login</button>

    <div class="login">
        <p>Don't have an account? <a routerLink="../register">Create account</a></p>
    </div>

</div>