.form {
  background-color: #ffffff;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  margin: auto;
  position: relative;
  width: 20rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55) !important;
}

.form input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: rgba(119, 119, 119, 0.35);
  border: none;
  /* outline: none; */
  outline-color: #feba2a;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
  width: auto;
  padding: 0.7rem 0.5rem;
  color: #17171c;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    background-color 0.2s ease-in;
}
.form input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background-color: #feba2a5e;
}

.form .button.call-to-action {
  padding: 0.7rem 0.5rem !important;
  background-color: #feba2a;
  margin: 1.5rem auto 0.5rem auto;
  width: 50%;
  transition: box-shadow 0.35s ease-in-out;
}
.form .button.call-to-action:hover {
  box-shadow: 1px 1px 15px 10px #feba2a5e;
}
.form h4 {
  margin-bottom: 1.5rem;
}
#copy {
  text-align: center;
}

#copy .inset {
  padding: 1.5rem 1rem;
  margin: 2rem 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: inherit;
  font-family: /*"Segoe UI", Tahoma, Geneva, Verdana, sans-serif */ "roboto" !important;
  background-color: rgba(255, 255, 255, 0.616);
}

#copy .brand {
  font-size: 3.5rem;
}
#copy span {
  color: #feba2a;
}

.footer a {
  text-decoration-color: #ffffff5e !important;
  color: #ffffff5e !important;
}

.footer {
  margin-top: 5rem;
}
.form .login {
  color: #17171c8a;
  text-align: center;
}

.form .login a {
  text-decoration: none;
  color: #feba2a !important;
  transition: all 0.5s;
}

.from .login a:hover {
  font-style: italic;
}

.form .invalid:focus {
  background-color: #d9534f !important;
  outline-color: #d43f3a !important;
}

.form h4 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  color: #feba2a;
}