.player{
    background-color: black;
}

video{
    object-fit: cover;
}

h1,h2,h3,h4,h5{
    margin: 0!important;
}

.like-dislike{
    background-color: white;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .6rem;
    padding-right: .6rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    color: grey;
}

.like-dislike:hover{
    background-color: #FEBA2A;
    color: white!important;
}

.like-button{
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    cursor: pointer;  
}
.like-button:hover{
    color: grey;
}

.comment{
    width: 93%!important;
    height: 30px;
    text-indent: 0px;
    padding-left: 0px;
}