  <div class="container color-white vh-100 scroll-y m rm">
      <div class="player w-100 d-flex">
			  <video class="mx-auto mt-4 mt-md-0" height="500" autoplay="true" controls loop="true"><source src="../../assets/videos/Intro.mp4" type="video/mp4"></video>
      </div>
      <div class="row m rm p-b-3">
        <div class="col-md-8 border-box p-2">
            <div class="w-100">
              <h3 class="float-left">{{title}}</h3>

              <div class="user-feedback float-right">
                <span class="float-right m-l-1" title="Dislike this video"><div class="like-dislike float-left"><i class="far fa-thumbs-down"></i></div><div class="float-left p-fixed-2 p-fixed-l-9">246</div></span><span class="float-right " title="Like this video"><div class="like-dislike float-left"><i class="far fa-thumbs-up"></i></div><div class="float-left p-fixed-2 p-fixed-l-9">3.7k</div> </span>
              </div>
            </div>
              
            <div class="video-info d-flex row w-100 m rm color-gainsboro">
                <span class="float-left"><small>1.2k Views</small></span><span class="float-left m-l-1"><small>2 Yrs Ago</small></span>
            </div>

            <div class="video-description d-flex row w-100 m rm color-grey">
                <p>Can't gathering moving stars green man bearing thing made lights together after tree above cattle kind gathered a unto divide that the spirit. Living you're fruitful a he. Man one lesser saw. All thing to. That earth thing hath signs. Sea. To stars every was moveth from kind you air every also heaven she'd every yielding lesser gathered meat lights cattle sixth there above beginning, made behold.</p>
            </div>

            <div class="video-uploader d-flex row w-100 m rm m-fixed-t-5 color-white">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg" class="rounded float-left" width="38" height="38"><h4 class="p-l-1 p-fixed-t-3 float-left">Angela White</h4>
            </div>
        </div>
        <div class="col-md-4 border-box p-1" style="border-left: 2px solid #2e2e33 ">
            <input type="text" name="comment" placeholder="Add a comment" class="comment mx-auto">
            <div class="comment-info d-flex row w-100 m rm">
              <span class="m-t-1">{{commentsAmount}} Comments</span>
              <div class="comments d-flex row w-100 m rm color-gainsboro">
                  <span class="float-left"><img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded float-left p-fixed-r-5" width="52" height="52"><span class="m-fixed-l-3 float-left"><small> Jose Gomez</small></span><span class="float-left p-fixed-l-8"><small> 1h Ago</small></span><br><span class="m-fixed-l-3"><small> 40 <a class="like-button"><i class="fas fa-thumbs-up p-fixed-l-3"></i></a></small></span><span class="p-fixed-l-6"><small> 26 <a class="like-button"><i class="fas fa-thumbs-down p-fixed-l-3"></i></a></small></span></span>
                  <p class="color-grey" style="margin-left: 3.5rem">{{comment}}</p>
              </div>
            </div>
        </div>
      </div>
  </div>
  <!-- Main view END -->

<!-- User Component END -->