/* Some styles copied from bootstrap */

.row {
    display: -ms-flexbox;
    display: flex;
    /* -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
    height: 100% !important;
    padding: 0 2rem;
    background: rgb(23, 23, 28);
    background: linear-gradient(
      -70deg,
      rgba(23, 23, 28, 1) 40%,
      rgba(23, 23, 28, 0.5886729691876751) 100%
    );
  }
  .container {
    max-width: 100%;
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important; */
    font-family: "roboto" !important;
    background: url("../../assets/img/stranger-things.jpg");
    background-repeat: no-repeat;
  }
  
  .col {
    position: relative;
    width: 100%;
  }
  
  .p-1 {
    padding: 0.25rem !important;
  }
  
  .pt-1,
  .py-1 {
    padding-top: 0.25rem !important;
  }
  
  .pr-1,
  .px-1 {
    padding-right: 0.25rem !important;
  }
  
  .pb-1,
  .py-1 {
    padding-bottom: 0.25rem !important;
  }
  
  .pl-1,
  .px-1 {
    padding-left: 0.25rem !important;
  }
  
  .p-2 {
    padding: 0.5rem !important;
  }
  
  .pt-2,
  .py-2 {
    padding-top: 0.5rem !important;
  }
  
  .pr-2,
  .px-2 {
    padding-right: 0.5rem !important;
  }
  
  .pb-2,
  .py-2 {
    padding-bottom: 0.5rem !important;
  }
  
  .pl-2,
  .px-2 {
    padding-left: 0.5rem !important;
  }
  .pl-3,
  .px-3 {
    padding-left: 1rem;
  }
  .pr-3,
  .px-3 {
    padding-right: 1rem;
  }
  .my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .m-auto {
    margin: auto !important;
  }
  
  @media (min-width: 768px) {
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  .form {
    background-color: #ffffff;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin: auto;
    position: relative;
    width: 20rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55) !important;
  }
  
  .form input[type="text"],
  input[type="password"],
  input[type="email"] {
    background-color: rgba(119, 119, 119, 0.35);
    border: none;
    /* outline: none; */
    outline-color: #feba2a;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    width: auto;
    padding: 0.7rem 0.5rem;
    color: #17171c;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      background-color 0.2s ease-in;
  }
  .form input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus {
    background-color: #feba2a5e;
  }
  
  .form .button.call-to-action {
    padding: 0.7rem 0.5rem !important;
    background-color: #feba2a;
    margin: 1.5rem auto 0.5rem auto;
    width: 50%;
    transition: box-shadow 0.35s ease-in-out;
  }
  .form .button.call-to-action:hover {
    box-shadow: 1px 1px 15px 10px #feba2a5e;
  }
  .form h4 {
    margin-bottom: 1.5rem;
  }
  
  /* Heading tags */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5rem 0;
  }
  
  /* Heading tags used in the form */
  .form h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #17171c !important;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  /* Div that has all that copy  */
  
  #copy {
    text-align: center;
  }
  
  #copy .inset {
    padding: 1.5rem 1rem;
    margin: 2rem 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: inherit;
    font-family: /*"Segoe UI", Tahoma, Geneva, Verdana, sans-serif */ "roboto" !important;
    background-color: rgba(255, 255, 255, 0.616);
  }
  
  #copy .brand {
    font-size: 3.5rem;
  }
  #copy span {
    color: #feba2a;
  }
  
  .footer a {
    text-decoration-color: #ffffff5e !important;
    color: #ffffff5e !important;
  }
  
  .footer {
    margin-top: 5rem;
  }
  .form .login {
    color: #17171c8a;
    text-align: center;
  }
  
  .form .login a {
    text-decoration: none;
    color: #feba2a !important;
    transition: all 0.5s;
  }
  
  .from .login a:hover {
    font-style: italic;
  }
  
  .form .invalid:focus {
    background-color: #d9534f !important;
    outline-color: #d43f3a !important;
  }
  