<div class="container vh-100">

  <div class="row">

    <div class="col-md-6 my-auto" id="copy">
      <!-- Vex Logo and stuff -->
      <div class="px-3">
        <h1 class="brand vex"><u>VEX</u></h1>
        <div class="inset">
          Vex has the best content
        </div>
        <span class="span">Find out for yourself :)</span>
      </div>

      <div class="footer align-self-center">
        <a href="#">What happened to Quest?</a>
      </div>

    </div>

    <div class="col-md-6 my-auto">
      <router-outlet></router-outlet>      
    </div>

  </div>

</div>