<div class="progress" *ngIf="_media.showLoader">
  <div class="indeterminate"></div>
</div>
<span class="menu-button d-inline-block" (click)="_ui.toggleMenu()"><img src="../../../assets/img/bars.png" width="24"
       height="24" class="d-inline-block"></span>
<span><a class="brand navbar vex d-inline-block" routerLink="discover"><u>VEX</u></a></span>
<nav role="navigation" class="m rm p rm main-nav d-inline w-100">
  <ul class="w-100 m rm">
    <li><span class="notification"></span><a class="active" href="#home"><img src="../../../assets/img/bell.png" class="wiggle"
             width="24" height="24"></a></li>
    <li><a href="#news"><img src="../../../assets/img/trophy.png" width="24" height="24"></a></li>
    <li>
      <div class="d-flex center p-1 p rm m-r-1">

        <input type="search" #search name="search" placeholder="Search" class="search p rm p-fixed-1" (keyup.enter)="searchTMDB(search.value)">
      </div>
    </li>
  </ul>
</nav>