.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b0b0c;
  position: relative;
  right: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 20;
}

.main-nav li {
  float: right;
}

.main-nav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.main-nav .fa-search {
  height: 48px;
}

.menu-button {
  cursor: pointer;
  transition: all 1s;
  position: absolute;
  float: left;
  top: 20px;
  left: 15px;
  z-index: 30;
}

.brand.navbar.vex {
  cursor: pointer;
  transition: all 1s;
  position: absolute;
  left: 72px;
  top: 0px;
  float: left;
  z-index: 30;
}

span .menu-button {
  height: 30px;
  width: 30px;
}

.notification {
  position: absolute;
  left: 98.3%;
  top: 10%;
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: red;
}
