<div class="container color-white vh-100 scroll-y m rm">
    <div class="player w-100 d-flex">
      <div class="row m rm w-100">
        <div class="col-12 col-md-9 border-box p rm">
            <video class="mt-4 mt-md-0 w-100" autoplay="true" controls loop="true"><source src="../../assets/videos/Intro.mp4" type="video/mp4"></video>
        </div>
        <div class="col-12 col-md-3  border-box p rm seasons">
            <ul class="collapsible" materialize="collapsible"  data-collapsible="accordion">
                <li>
                  <div class="collapsible-header active">Season 1<i class="fas fa-chevron-down m-l-1"></i></div>
                  <div class="collapsible-body">
                      <ul>
                          <li class="links"><a href="#">Episode 1</a></li>
                          <li class="links"><a href="#">Episode 2</a></li>
                          <li class="links"><a href="#">Episode 3</a></li>
                          <li class="links"><a href="#">Episode 4</a></li>
                          <li class="links"><a href="#">Episode 5</a></li>
                          <li class="links"><a href="#">Episode 6</a></li>
                          <li class="links"><a href="#">Episode 7</a></li>
                          <li class="links"><a href="#">Episode 8</a></li>
                          <li class="links"><a href="#">Episode 9</a></li>
                          <li class="links"><a href="#">Episode 10</a></li>
                          <li class="links"><a href="#">Episode 11</a></li>
                          <li class="links"><a href="#">Episode 12</a></li>
                          <li class="links"><a href="#">Episode 13</a></li>
                      </ul>
                  </div>
                </li>
                <li>
                    <div class="collapsible-header">Season 2<i class="fas fa-chevron-down m-l-1"></i></div>
                    <div class="collapsible-body">
                            <ul>
                                <li class="links"><a href="#">Episode 1</a></li>
                                <li class="links"><a href="#">Episode 2</a></li>
                                <li class="links"><a href="#">Episode 3</a></li>
                                <li class="links"><a href="#">Episode 4</a></li>
                                <li class="links"><a href="#">Episode 5</a></li>
                                <li class="links"><a href="#">Episode 6</a></li>
                                <li class="links"><a href="#">Episode 7</a></li>
                                <li class="links"><a href="#">Episode 8</a></li>
                                <li class="links"><a href="#">Episode 9</a></li>
                                <li class="links"><a href="#">Episode 10</a></li>
                                <li class="links"><a href="#">Episode 11</a></li>
                                <li class="links"><a href="#">Episode 12</a></li>
                                <li class="links"><a href="#">Episode 13</a></li>
                            </ul>
                        </div>
                </li>
                <li>
                    <div class="collapsible-header">Season 3<i class="fas fa-chevron-down m-l-1"></i></div>
                    <div class="collapsible-body">
                            <ul>
                                <li class="links"><a href="#">Episode 1</a></li>
                                <li class="links"><a href="#">Episode 2</a></li>
                                <li class="links"><a href="#">Episode 3</a></li>
                                <li class="links"><a href="#">Episode 4</a></li>
                                <li class="links"><a href="#">Episode 5</a></li>
                                <li class="links"><a href="#">Episode 6</a></li>
                                <li class="links"><a href="#">Episode 7</a></li>
                                <li class="links"><a href="#">Episode 8</a></li>
                                <li class="links"><a href="#">Episode 9</a></li>
                                <li class="links"><a href="#">Episode 10</a></li>
                                <li class="links"><a href="#">Episode 11</a></li>
                                <li class="links"><a href="#">Episode 12</a></li>
                                <li class="links"><a href="#">Episode 13</a></li>
                            </ul>
                        </div>
                </li>
                <li>
                    <div class="collapsible-header">Season 3<i class="fas fa-chevron-down m-l-1"></i></div>
                    <div class="collapsible-body">
                            <ul>
                                <li class="links"><a href="#">Episode 1</a></li>
                                <li class="links"><a href="#">Episode 2</a></li>
                                <li class="links"><a href="#">Episode 3</a></li>
                                <li class="links"><a href="#">Episode 4</a></li>
                                <li class="links"><a href="#">Episode 5</a></li>
                                <li class="links"><a href="#">Episode 6</a></li>
                                <li class="links"><a href="#">Episode 7</a></li>
                                <li class="links"><a href="#">Episode 8</a></li>
                                <li class="links"><a href="#">Episode 9</a></li>
                                <li class="links"><a href="#">Episode 10</a></li>
                                <li class="links"><a href="#">Episode 11</a></li>
                                <li class="links"><a href="#">Episode 12</a></li>
                                <li class="links"><a href="#">Episode 13</a></li>
                            </ul>
                        </div>
                </li>
                <li>
                    <div class="collapsible-header">Season 3<i class="fas fa-chevron-down m-l-1"></i></div>
                    <div class="collapsible-body">
                            <ul>
                                <li class="links"><a href="#">Episode 1</a></li>
                                <li class="links"><a href="#">Episode 2</a></li>
                                <li class="links"><a href="#">Episode 3</a></li>
                                <li class="links"><a href="#">Episode 4</a></li>
                                <li class="links"><a href="#">Episode 5</a></li>
                                <li class="links"><a href="#">Episode 6</a></li>
                                <li class="links"><a href="#">Episode 7</a></li>
                                <li class="links"><a href="#">Episode 8</a></li>
                                <li class="links"><a href="#">Episode 9</a></li>
                                <li class="links"><a href="#">Episode 10</a></li>
                                <li class="links"><a href="#">Episode 11</a></li>
                                <li class="links"><a href="#">Episode 12</a></li>
                                <li class="links"><a href="#">Episode 13</a></li>
                            </ul>
                        </div>
                </li>
                <li>
                    <div class="collapsible-header">Season 3<i class="fas fa-chevron-down m-l-1"></i></div>
                    <div class="collapsible-body">
                            <ul>
                                <li class="links"><a href="#">Episode 1</a></li>
                                <li class="links"><a href="#">Episode 2</a></li>
                                <li class="links"><a href="#">Episode 3</a></li>
                                <li class="links"><a href="#">Episode 4</a></li>
                                <li class="links"><a href="#">Episode 5</a></li>
                                <li class="links"><a href="#">Episode 6</a></li>
                                <li class="links"><a href="#">Episode 7</a></li>
                                <li class="links"><a href="#">Episode 8</a></li>
                                <li class="links"><a href="#">Episode 9</a></li>
                                <li class="links"><a href="#">Episode 10</a></li>
                                <li class="links"><a href="#">Episode 11</a></li>
                                <li class="links"><a href="#">Episode 12</a></li>
                                <li class="links"><a href="#">Episode 13</a></li>
                            </ul>
                        </div>
                </li>
                <li>
                    <div class="collapsible-header">Season 3<i class="fas fa-chevron-down m-l-1"></i></div>
                    <div class="collapsible-body">
                            <ul>
                                <li class="links"><a href="#">Episode 1</a></li>
                                <li class="links"><a href="#">Episode 2</a></li>
                                <li class="links"><a href="#">Episode 3</a></li>
                                <li class="links"><a href="#">Episode 4</a></li>
                                <li class="links"><a href="#">Episode 5</a></li>
                                <li class="links"><a href="#">Episode 6</a></li>
                                <li class="links"><a href="#">Episode 7</a></li>
                                <li class="links"><a href="#">Episode 8</a></li>
                                <li class="links"><a href="#">Episode 9</a></li>
                                <li class="links"><a href="#">Episode 10</a></li>
                                <li class="links"><a href="#">Episode 11</a></li>
                                <li class="links"><a href="#">Episode 12</a></li>
                                <li class="links"><a href="#">Episode 13</a></li>
                            </ul>
                        </div>
                </li>
                <li>
                    <div class="collapsible-header">Season 3<i class="fas fa-chevron-down m-l-1"></i></div>
                    <div class="collapsible-body">
                            <ul>
                                <li class="links"><a href="#">Episode 1</a></li>
                                <li class="links"><a href="#">Episode 2</a></li>
                                <li class="links"><a href="#">Episode 3</a></li>
                                <li class="links"><a href="#">Episode 4</a></li>
                                <li class="links"><a href="#">Episode 5</a></li>
                                <li class="links"><a href="#">Episode 6</a></li>
                                <li class="links"><a href="#">Episode 7</a></li>
                                <li class="links"><a href="#">Episode 8</a></li>
                                <li class="links"><a href="#">Episode 9</a></li>
                                <li class="links"><a href="#">Episode 10</a></li>
                                <li class="links"><a href="#">Episode 11</a></li>
                                <li class="links"><a href="#">Episode 12</a></li>
                                <li class="links"><a href="#">Episode 13</a></li>
                            </ul>
                        </div>
                </li>
              </ul>
        </div>
      </div>
    </div>
    <div class="row m rm p-b-3">
      <div class="col-md-8 border-box p-2">
          <div class="w-100">
            <h3 class="float-left">{{title}}</h3>

            <div class="user-feedback float-right">
              <span class="float-right m-l-1" title="Dislike this video"><div class="like-dislike float-left"><i class="far fa-thumbs-down"></i></div><div class="float-left p-fixed-2 p-fixed-l-9">246</div></span><span class="float-right " title="Like this video"><div class="like-dislike float-left"><i class="far fa-thumbs-up"></i></div><div class="float-left p-fixed-2 p-fixed-l-9">3.7k</div> </span>
            </div>
          </div>
            
          <div class="video-info d-flex row w-100 m rm color-gainsboro">
              <span class="float-left"><small>1.2k Views</small></span><span class="float-left m-l-1"><small>2 Yrs Ago</small></span>
          </div>

          <div class="video-description d-flex row w-100 m rm color-grey">
              <p>Can't gathering moving stars green man bearing thing made lights together after tree above cattle kind gathered a unto divide that the spirit. Living you're fruitful a he. Man one lesser saw. All thing to. That earth thing hath signs. Sea. To stars every was moveth from kind you air every also heaven she'd every yielding lesser gathered meat lights cattle sixth there above beginning, made behold.</p>
          </div>

          <div class="video-uploader d-flex row w-100 m rm m-fixed-t-5 color-white">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg" class="rounded float-left" width="38" height="38"><h4 class="p-l-1 p-fixed-t-3 float-left">Angela White</h4>
          </div>
      </div>
      <div class="col-md-4 border-box p-1" style="border-left: 2px solid #2e2e33 ">
          <h3>Other Popular Channels</h3>
          <div class="popular-series d-flex row w-100 m rm">
                <img src="../../../assets/img/series_covers/GOT.jpg" class="series-cover d-inline-block"><h5>Game of Thrones</h5>
          </div>
      </div>
    </div>
</div>
<!-- Main view END -->

<!-- User Component END -->