.player{
    background-color: black;
    height: 550px;
    overflow-y: hidden;
}

video{
    object-fit: cover;
}

h1,h2,h3,h4,h5{
    margin: 0!important;
}

.like-dislike{
    background-color: white;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .6rem;
    padding-right: .6rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    color: grey;
}

.like-dislike:hover{
    background-color: #FEBA2A;
    color: white!important;
}

.like-button{
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    cursor: pointer;  
}
.like-button:hover{
    color: grey;
}

.comment{
    width: 93%!important;
    height: 30px;
    text-indent: 0px;
    padding-left: 0px;
}


.seasons{
    overflow-y: auto;
    height: 550px;
}

/* Accordion */
.collapsible-header i{
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
}

.collapsible-header.active i{
    transform: rotate(180deg);
}

.collapsible-header.active {
    color: #FEBA2A;
}

.collapsible-header{
    cursor: pointer;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.collapsible li{
    list-style-type: none;
}

.collapsible .links a{
    color: white;
    list-style-type: none;
    text-decoration: none!important;
}

.collapsible .links a:hover{
    color: #FEBA2A;

}

.series-cover{
    width: 200px;
    height: 100px;
}

.seasons::-webkit-scrollbar {
    width: 8px;
    display: none;
}

.seasons:hover::-webkit-scrollbar {
    display: block;
}

.seasons::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 1rem;
    transition: all .5s;

}

.seasons::-webkit-scrollbar-thumb:hover {
    background-color: Dimgrey;
}
