<div class="container vh-100">

  <div class="row">

    <div class="col-md-6 my-auto" id="copy">
      <!-- Vex Logo and stuff -->
      <div class="px-3">
        <h1 class="brand vex"><u>VEX</u></h1>
        <div class="inset">
          Vex has the best content
        </div>
        <span class="span">Find out for yourself :)</span>
      </div>

      <div class="footer align-self-center">
        <a href="#">What happened to Quest?</a>
      </div>

    </div>

    <div class="col-md-6 my-auto">

      <!-- Signup form -->
      <div class="form" [formGroup]="signupForm" *ngIf="signInProcess == 1">
        <h4>Sign Up</h4>
        <input type="text" placeholder="Username" name="username" formControlName="username">
        <input type="text" placeholder="Domain name" name="domain_name" formControlName="domain_name" [class.invalid]="getSignUpDomain.invalid && getSignUpDomain.dirty">
        <input type="password" placeholder="Password" name="password" formControlName="password">
        <button class="button call-to-action" (click)="addUser(getSignUpForm.value)" [class.disabled]="getSignUpForm.invalid">Get
          in</button>

        <div class="login">
          <p>Already have an account? <a href="/signin">Login</a></p>
        </div>

      </div>

      <!-- If user wants to signin -->

      <div class="form" [formGroup]="signinForm" *ngIf="signInProcess == 2">
        <h4>Sign In</h4>
        <input type="text" placeholder="Username" name="username" formControlName="username">
        <input type="password" placeholder="Password" name="password" formControlName="password">
        <button class="button call-to-action" (click)="loginUser(getSignInForm.value)">Login</button>

        <div class="login">
          <p>Don't have an account? <a href="/signup">Create account</a></p>
        </div>

      </div>

    </div>

  </div>

</div>