h1,h2,h3,h4,h5{
    margin: 0!important;
}

.episodes{
    width: 170px;
    height: 100px;
}

.episode{
    padding-right: 20px;
    outline: none!important;
}

.episode .img{
    height: 125.33px!important;
}

.episode.lastSlide{
    padding-right: 0px!important;
}

.thumbnail{
    position: relative;
}
.thumbnail .timestamp{
    position: absolute;
    bottom: 0px;
    background-color: rgba(0,0,0,.6);
    padding: .1rem .5rem .1rem .5rem;
    border-radius: 4px;
}