<div class="container color-white vh-100 scroll-y m rm">
  <img
    src="../../../assets/img/channel_covers/flash-banner-1.png"
    class="w-100 channel-banner"
  />
  <div class="row m rm p-b-5">
    <div class="col-md-12 border-box p-l-2 p-t-2">
      <h2 class="channel-title">{{ channel.title }}</h2>
      <span class="color-grey">{{ channel.members }} Members</span>
    </div>
    <div class="col-md-12 border-box p-l-2">
      <ul class="tabs row p m rm" materialize="tabs" style="position: sticky">
        <li class="tab col-md-2">
          <a class="active" href="#videos">Videos</a>
        </li>
        <li class="tab col-md-2"><a href="#about">About</a></li>
      </ul>
    </div>
    <div class="col-md-12 border-box p-l-2 p-r-2 p-t-1" id="videos">
      <div class="seasons m rm">
        <div class="season-1 m rm">
          <h3 class="color-gainsboro">Season 5</h3>
          <slick-carousel>
            <div class="episode">
              <div class="thumbnail">
                <img
                  class="w-100"
                  src="../../../assets/img/episode_snapshots/flash_1.jpg"
                />
                <div class="timestamp">58:20</div>
              </div>

              <h5 class="p-t-1">Episode 1: Barry Allen Fish</h5>
            </div>
            <div class="episode">
              <img
                class="w-100"
                src="../../../assets/img/episode_snapshots/flash_2.jpg"
              />
              <h5 class="p-t-1">Episode 2: Run Nora Run</h5>
            </div>
            <div class="episode">
              <img
                class="w-100"
                src="../../../assets/img/episode_snapshots/flash_3.jpg"
              />
              <h5 class="p-t-1">Episode 3: The Rogues</h5>
            </div>
            <div class="episode">
              <img
                class="w-100"
                src="../../../assets/img/episode_snapshots/flash_4.jpg"
              />
              <h5 class="p-t-1">Episode 4: Savitar</h5>
            </div>
            <div class="episode">
              <img
                class="w-100"
                src="../../../assets/img/episode_snapshots/flash_5.jpg"
              />
              <h5 class="p-t-1">Episode 5: Cicada</h5>
            </div>
            <div class="episode">
              <img
                class="w-100"
                src="../../../assets/img/episode_snapshots/flash_6.jpg"
              />
              <h5 class="p-t-1">Episode 6: Zoom's Return</h5>
            </div>
            <div class="episode">
              <img
                class="w-100"
                src="../../../assets/img/episode_snapshots/flash_7.jpg"
              />
              <h5 class="p-t-1">Episode 7: Wally's Decision</h5>
            </div>
            <div class="episode lastSlide">
              <img
                class="w-100 lastSlide"
                src="../../../assets/img/episode_snapshots/flash_8.jpg"
              />
              <h5 class="p-t-1">Episode 8: Race Against Time</h5>
            </div>
          </slick-carousel>
        </div>
      </div>
    </div>
    <div class="col-md-12 border-box p-l-2 p-r-2 p-t-1" id="about">
      <div class="row m rm">
        <div class="col-md-9 p-l-1 p-r-1 border-box">
          <h3 class="color-gainsboro">Description</h3>
          <p>{{ channel.description }}</p>
        </div>
        <div class="col-md-3 p-l-1 p-r-1 border-box">
          <h3 class="color-gainsboro">Details</h3>
          <p>Created {{ channel.date }}</p>
          <p>{{ channel.likes }} Likes</p>
          <p>Created by {{ channel.creator }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
