/* =============================C=O=L=0=R=S=================================
  - Primary Colors:

  - Vex Yellow: #FEBA2A;
  - Vex Dark: #0b0b0c;
  - Vex Primary Blue: #17171C;

  Basically most colors on the app are derivations of these ones :)
  * =========================================================================*/
/* How far?? */

.grid-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid-container .content-item {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.grid-container .content-item a {
  width: fit-content;
  position: relative !important;
}

.grid-container .content-item a .right-overlay {
  text-align: center;
  color: #feba2a;
  outline: #febb2a63;
  font-size: 1.5rem;
  position: absolute;
  opacity: 0;
  top: 4%;
  right: 4%;
  /* transform: translate(100%, 20%); */
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.178),
    0%,
    rgba(0, 0, 0, 0.5)
  ); */
  overflow: hidden;
  height: 2rem;
  width: 2rem;
  transition: all 0.3s ease;
  padding: 0.2rem;
  border-radius: 25px;
}

.grid-container .content-item a .left-overlay {
  text-align: center;
  color: #feba2a;
  outline: #febb2a63;
  font-size: 1.5rem;
  position: absolute;
  opacity: 0;
  top: 4%;
  left: 4%;
  /* transform: translate(100%, 20%); */
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.178),
    0%,
    rgba(0, 0, 0, 0.5)
  ); */
  overflow: hidden;
  height: 2rem;
  width: 2rem;
  transition: all 0.3s ease;
  padding: 0.2rem;
  border-radius: 25px;
}

.grid-container .content-item a img {
  height: 250px;
  width: 166px;
  display: block !important;
  transition: all 0.3s ease;
}

.grid-container .content-item a:hover img {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
  /* height: 255px; */
}

.grid-container .content-item a:hover .left-overlay {
  opacity: 1;
}

.grid-container .content-item a:hover .right-overlay {
  opacity: 1;
}

/* Modal */

@media screen and (min-width: 768px) {
  .media-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    height: 100%;
    width: 100%;
    overflow: auto;
    cursor: pointer;
    background-color: rgba(17, 18, 32, 0.7);
    padding-top: 60px;
  }

  .media-modal .content {
    cursor: auto;
    margin: 5px auto;
    width: 35%;
    background-color: #0b0b0c;
    -webkit-box-shadow: 0px 10px 24px -3px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 10px 24px -3px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.6);
  }

  .media-modal .backdrop img {
    width: 100%;
    height: 40%;
  }

  .media-modal .close-modal {
    position: fixed;
    right: 40px;
    top: 0;
    color: #f1f1f1;
    width: 3.5rem;
    height: 3.5rem;
    padding: 5px;
    font-size: 3.5rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: color 0.1s ease;
  }

  .media-modal .close-modal:hover,
  .media-modal .close-modal:focus {
    color: #feba2a;
  }

  .media-modal .close-modal:active {
    color: #ff0000;
  }

  .stars {
    color: #feba2a;
    margin: 0px 3px;
  }

  .media-modal .modal-info {
    margin-top: -10px;
    padding: 0rem 1rem;
  }

  .modal-info h4,
  p {
    padding: 0;
    margin: 1px;
  }
}

/* Modal animation */

.animate {
  -webkit-animation: animateopen 0.6s;
  animation: animateopen 0.6s;
}

@-webkit-keyframes animateopen {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animateopen {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
