<div class="grid-container section d-flex row wrap">

  <div class="content-item">
    <a (click)="openModal($event , modal)">
      <img src="../../../assets/img/movies_covers/wonder_woman_poster_4.jpg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

  <div class="content-item">
    <a (click)="openModal($event , modal)">
      <img src="../../../assets/img/movies_covers/iron_man.jpg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

  <div class="content-item">
    <a (click)="openModal($event , modal)">
      <img src="../../../assets/img/movies_covers/tomb_raider.jpg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

  <div class="content-item">
    <a (click)="openModal($event , modal)">
      <img src="../../../assets/img/movies_covers/bushwick.jpg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

  <div class="content-item">
    <a (click)="openModal($event , modal)">
      <img src="../../../assets/img/movies_covers/guardians_galaxy.jpg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

  <div class="content-item">
    <a (click)="openModal($event , modal)">
      <img src="../../../assets/img/movies_covers/Rings-2016-movie-poster.jpg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

  <div class="content-item">
    <a (click)="openModal($event , modal)">
      <img src="../../../assets/img/movies_covers/rogueone_Star-war-8.jpg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

  <div class="content-item">
    <a href="#">
      <img src="../../../assets/img/movies_covers/b773ebf36aaa36abe51a393afbd58cf9.jpg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

  <div class="content-item">
    <a (click)="openModal($event , modal)">
      <img src="../../../assets/img/movies_covers/life.jpg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

  <div class="content-item">
    <a (click)="openModal($event , modal)">
      <img src="../../../assets/img/movies_covers/thor_ragnarok_2017____movie_poster_by_jfourpvfx-da8irkw.jpg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

  <div class="content-item">
    <a href="#">
      <img src="../../../assets/img/movies_covers/Spiderman-poster-7-large.jpg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

  <div class="content-item">
    <a href="#">
      <img src="../../../assets/img/movies_covers/mummy.jpeg" class="movie-cover">
      <div class="left-overlay">
        <a><i class="fa fa-star"></i></a>
      </div>
      <div class="right-overlay">
        <a><i class="fa fa-bookmark"></i></a>
      </div>
    </a>
  </div>

</div>

<!-- Modal -->
<div class="media-modal" #modal (click)="closeModal($event, modal)">

  <!-- Close button -->
  <span class="close-modal" (click)="closeModal($event, modal)">&times;</span>

  <!-- Modal Content -->

  <div class="content animate" #modal_content>
    <div class="backdrop">
      <img src="../../../assets/img/proud-mary.jpg">
    </div>
    <!-- Modal Info -->
    <div class="modal-info">
      <h4>Lorem Ipsum bishh!</h4>
      <div class="meta-data">
        <span class="stars">

          <!-- Star rating -->
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa off fa-star"></i>
          <i class="fa off fa-star"></i>

        </span>

        <!-- Year of release -->
        <span class="muted-text">Random Text Here</span>

        <!-- Media type -->
        <span class="badge dark">Sample text</span>

        <!-- Season? -->
        <span class="muted-text">Sample text</span>

      </div>

      <!-- Description -->
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente non veritatis consequuntur perferendis fuga!
        Impedit.</p>
    </div>

  </div>