<div class="form" [formGroup]="signupForm">
  <h4>Sign Up</h4>
  <input type="text" placeholder="Username" name="username" formControlName="username">
  <input type="text" placeholder="Domain Name" name="domain_name" formControlName="domain_name" [class.invalid]="getSignUpDomain.invalid && getSignUpDomain.dirty">
  <input type="password" placeholder="Password" name="password" formControlName="password">
  <button class="button call-to-action" (click)="addUser(getSignUpForm.value)" [class.disabled]="getSignUpForm.invalid">Get
    in</button>

  <div class="login">
    <p>Already have an account? <a routerLink="../login">Login</a></p>
  </div>

</div>