#list_results {
  overflow: auto;
  height: 90%;
  padding: 1rem 1.3rem;
}

div.card {
  cursor: pointer;
  color: #feba2a;
  /* border: 1px solid #feba2a; */
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

div.card span{
  padding-left: 5px;
  padding-right: 5px;
}

/* div.card:hover {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
} */
div ul {
  list-style-type: none;
}

div ul li {
  border-bottom: 1px solid grey;
}

.upload_watch button{
    background-color: #000;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none!important;
    margin-left: auto;
}

.upload_watch button:hover{
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}