<div id="list_results">
  <h2>Showing results for <span class="query">{{query}}</span></h2>
  <ul class="p rm">


    <!-- Oya! -->

    <li *ngFor="let item of _media.search_results$">
      <div class="card p-1" (click)="_media.upload(item.media_type, item.id)">
        <div class="row p rm m">
          <div class="col-md-2">
            <img *ngIf="item.poster_path" src="https://image.tmdb.org/t/p/w154/{{item?.poster_path}}" class="d-flex mx-auto">
          </div>
          <div class="col-md-10">
            <span>{{item.original_title || item.original_name}}</span>
            <span>{{item.release_date || item.first_air_date}} </span>
            <span *ngIf="item.media_type == 'movie'" class="color-grey">[ Movie ]</span>
            <span *ngIf="item.media_type == 'tv'" class="color-grey">[ Series ]</span>
            <p class="color-gainsboro">
              {{item.overview}}
            </p>
            <div class="row m rm upload_watch">
              <button class="upload ml-auto d-block">Upload</button>
            </div>
          </div>
        </div>



      </div>
    </li>

  </ul>
</div>