<!-- This is the dashboard  beeshhh! -->
<div class="dashboard">
  <div class="d-block">
    <div><h2 class="color-black p-l-2">Vex Usage Report</h2></div>
  </div>
  <div class="d-flex wrap w-100" style="height: fit-content;">
    <div class="col-md-6 overflow-hidden">
      <div class="card p-1 m-2">
        <canvas id="LineChart"></canvas>
      </div>
    </div>
    <div class="col-md-6">
        <div class="card p-1 m-2">
            <canvas id="PieChart"></canvas>
        </div>      
    </div>
  </div>
  <div class="d-flex wrap w-100">
        <div class="col-md-4 text-center color-black" *ngFor = "let item of media;let i = index">
          <div class="card d-block p-1 m-2" style="align-content: center">
            <h1>{{item.category}}</h1>
            <h2>{{item.amount}}</h2>
          </div> 
        </div>
  </div>
  <div class="d-flex wrap w-100">
      <div class="col-md-4 text-center color-black" *ngFor = "let item of media;let i = index">
        <div class="card d-block p-1 m-2" style="align-content: center">
          <h1>{{item.category}}</h1>
          <h2>{{item.amount}}</h2>
        </div> 
      </div>
  </div>
  <div class="d-flex wrap w-100">
      <div class="col-md-4 text-center color-black" *ngFor = "let item of media;let i = index">
        <div class="card d-block p-1 m-2" style="align-content: center">
          <h1>{{item.category}}</h1>
          <h2>{{item.amount}}</h2>
        </div> 
      </div>
  </div>
    
</div>
