@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.dashboard{
    width: 97.7%;
    height: 100%;
    padding: 1rem;
    background-color: #F3F3F3;
    font-family: 'PT Sans', sans-serif;
    overflow-y: scroll;
}

.card{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

h1,h2,h3,h4,h5{
    font-weight: lighter;
}