<!-- User Component START-->
<div class="d-flex vh-100">

  <!-- Sidebar START -->
  <nav role="navigation" [class.open]="!_ui.menuClosed" class="sidebar left w-250 outline no-shrink">
    <div class="sidebar logo">
      <a class="" href="#"><h2 class="brand vex"><u>VEX</u></h2></a>
    </div>
    <div class="d-flex center p-1 rm-b">
      <img src="../../assets/img/default-avatar.jpg" class="img circle" width="100" height="100">
    </div>
    <div class="d-flex center">
      <p class="sidebar profile-info m rm-t rm-b">Username</p>
    </div>
    <div class="d-flex center p-fixed-t-6 p-fixed-b-6">
      <div class="prog-bar-light-grey prog-bar-round-xlarge">
        <div class="prog-bar-container prog-bar-red prog-bar-round-xlarge" style="width:25%"></div>
      </div>
    </div>
    <div class="d-flex center">
      <p class="sidebar vex points m rm-t rm-b">VexPoints</p>
    </div>
    <div class="d-flex container">
      <ul class="sidebar menu items">
        <li class="active"><a routerLink="discover">Home</a></li>
        <li><a routerLink="media/movies">Movies</a></li>
        <li><a routerLink="media/series">Series</a></li>
        <li><a href="#">Educational</a></li>
        <li><a href="#">AUN Radio</a></li>
        <li><a href="#">Chat</a></li>
      </ul>
    </div>
    <div class="d-flex center bg brown-grey p-fixed-6 footer-menu">
      <ul class="sidebar menu items acct p rm-l">
        <li><a href="#">User settings</a></li>
        <li><a>Subscription</a></li>
        <li><a href="#">Rewards</a></li>
        <li><a href="#">Request</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
  <!-- Sidebar END -->

  <!-- ::: Main view START :::
  
       All component child routes (e.g DiscoverComponent) will
       be inserted here.

  -->
  <div class="main right">
    <!-- Overlay should be activated everytime the sidebar is opened -->
    <div class="sidebar-overlay" (click)="_ui.toggleMenu()" [class.closed]="_ui.menuClosed"
         [class.opacity-anim-forwards]="!_ui.menuClosed" [class.opacity-anim-backwards]="_ui.menuClosed"></div>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>

  <!-- Main view END -->

</div>
<!-- User Component END -->