/* This component contains the navs bro 
- Primary Colors:

- Vex Yellow: #FEBA2A;
- Vex Dark: #0b0b0c;
- Vex Primary Blue: #17171C;

Basically most colors on the app are derivations of these ones :)

*/


/* ============================================================================================================
  * Sidebar
  * ============================================================================================================ */



/* .sidebar.menu.items.acct {
   list-style-type: none;
   text-align: center; }
 
 .sidebar.menu.items.acct > li {
   padding-bottom: 5px; }
 
 .sidebar.menu.items.acct > li > a {
   text-decoration: none;
   color: #ffffff; } */

