.hr-discover{
    border: none!important;
}

.banner .overlay{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 9px;
    z-index: 3;
    background-color: rgba(0, 0, 0, .5);
}

.banner .info{
    position: absolute;
    top: 20%;
    right: 20px;
    z-index: 4;
}