<div class="container vh-100 scroll-y w-auto">
  <div class="banner">
    <div class="info">
      <h1 class="font-PTsans">MovieTitle</h1>
      <p class="desc">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
      <a class="text imdb score color-gainsboro">IMDb: score</a>&emsp;
      <a class="text vex points color-gainsboro">VEX</a>
      <p><a class="btn outline yellow color-white">Watch Now</a></p>
    </div>
    <img src="../../../assets/img/home-banner.jpg" class="w-100 h-100" />
    <div class="overlay"></div>
  </div>
  <hr class="hr-discover" />
  <div class="p-fixed-l-25 p-b-4">
    <p class="section header">Latest releases</p>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left"><div class="circle"></div></div>
        <div class="gap-patch"><div class="circle"></div></div>
        <div class="circle-clipper right"><div class="circle"></div></div>
      </div>
    </div>

    <slick-carousel>
        <div *ngFor="let show of shows">
            <h4>Name: {{ show?.name }}</h4>
            <p>Overview: {{ show?.overview }}</p>
          </div>
    </slick-carousel>

    <app-media-grid></app-media-grid>
  </div>
</div>
