/* You can add global styles to this file, and also import other style files */
/* ============================================================================================================
 * Font Imports
 * ============================================================================================================ */
 @import url("./assets/fonts/web-fonts/css/fontawesome-all.min.css");
 @import url('https://fonts.googleapis.com/css?family=Niramit');
 @import url('https://fonts.googleapis.com/css?family=PT+Sans');



 @font-face {
   font-family: 'agencyFb';
   src: url("./assets/fonts/web-fonts/webfonts/AgencyFB-Reg.ttf") format("truetype");
   font-weight: normal; }
 @font-face {
   font-family: 'audowide';
   src: url("./assets/fonts/web-fonts/webfonts/Audiowide-Regular.ttf") format("truetype");
   font-weight: normal; }
 @font-face {
   font-family: 'roboto';
   src: url("./assets/fonts/web-fonts/webfonts/Roboto-Regular.ttf") format("truetype"); }


  /* =============================C=O=L=0=R=S=================================
  - Primary Colors:

  - Vex Yellow: #FEBA2A;
  - Vex Dark: #0b0b0c;
  - Vex Primary Blue: #17171C;

  Basically most colors on the app are derivations of these ones :)
  * =========================================================================*/

 /* ============================================================================================================
  * Global Variables
  * ============================================================================================================ */
 /* ============================================================================================================
  * Base Components
  * ============================================================================================================ */
 /* 1. Set `font-size` to support `rem` units
  *    Not using `font` property because a leading hyphen (e.g. -apple-system) causes the font to break in IE11
  *    and Edge
  * 2. Prevent adjustments of font size after orientation changes in iOS. */
 html {
   /* 1 */
   font-family: 'Niramit', sans-serif;
   font-size: 16px;
   font-weight: normal;
   /* 2 */
   -webkit-text-size-adjust: 100%;
   height: 100vh; }
 
 body {
   margin: 0;
   color: #ecf0f1;
   box-sizing: border-box;
   overflow: hidden;
   background-color: #17171C;
}
/* app-discover {
    width: 100%;
} */
 nav {
   flex: 0 0 auto; }
 
 hr {
   border: 1px solid #00838F; }
 
 img .img {
   display: block; }
 
 /* ============================================================================================================
  * Flex
  * ============================================================================================================ */
 .d-flex {
   display: flex; }
   .d-flex .full-height {
     flex-grow: 1; }
   .d-flex .no-shrink {
     flex-shrink: 0; }
 
 .d-flex.inline {
   display: inline-flex; }
 
 /* ============================================================================================================
  * Flex Direction
  * ============================================================================================================ */
 .d-flex.row {
   flex-direction: row; }
 
 .d-flex.reverse {
   flex-direction: row-reverse; }
 
 .d-flex.col {
   flex-direction: column; }
 
 .d-flex.reverse {
   flex-direction: column-reverse; }
 
 /* ============================================================================================================
  * Flex Alignment (Horizontal)
  * ============================================================================================================ */
 /* Align items along the main axis of the current line of the flex container. */
 .d-flex.left {
   justify-content: flex-start; }
 
 .d-flex.right {
   justify-content: flex-end; }
 
 .d-flex.center {
   justify-content: center; }
 
 .d-flex.btw {
   justify-content: space-between; }
 
 .d-flex.around {
   justify-content: space-around; }
 
 .d-flex.even {
   justify-content: space-evenly; }
 
  .d-flex .align-self-center {
    align-self: center;
  }
 /* ========================================================================================================
  * Flex Alignment (Vertical)
  * ======================================================================================================== */
 /* Align items along the main axis of the current line of the flex container. */
 .d-flex.stretch {
   align-items: stretch; }
 
 .d-flex.fill {
   align-items: stretch; }
 
 .d-flex.top {
   align-items: flex-start; }
 
 .d-flex.bottom {
   align-items: flex-end; }
 
 .d-flex.middle {
   align-items: center; }
 
 /* ========================================================================================================
  * Flex Wrap
  * ======================================================================================================== */
 .d-flex.wrap {
   flex-wrap: wrap; }
 
 .d-flex.wrap.rev {
   flex-wrap: wrap-reverse; }
 
 .d-flex.nowrap {
   flex-wrap: nowrap; }
 
 /* ========================================================================================================
  *  Container
  * ======================================================================================================== */
 /*
  * 1. Box sizing has to be `content-box` so the max-width is always the same and
  *    unaffected by the padding on different breakpoints. It's important for the size modifiers.
  *
  * 2. Size Modifier */
 .container.w-50 {
   /* 1 */
   box-sizing: content-box;
   max-width: 50%;
   margin-left: auto;
   margin-right: auto;
   /* Don't add padding here. Simply call the padding class on the desired element. */ }
 
 .container.w-60 {
   box-sizing: content-box;
   max-width: 60%;
   margin-left: auto;
   margin-right: auto;
   /* Don't add padding here. Simply call the padding class on the desired element. */ }
 
 .container.w-70 {
   box-sizing: content-box;
   max-width: 70%;
   margin-left: auto;
   margin-right: auto;
   /* Don't add padding here. Simply call the padding class on the desired element. */ }
 
 .container.w-80 {
   box-sizing: content-box;
   max-width: 80%;
   margin-left: auto;
   margin-right: auto;
   /* Don't add padding here. Simply call the padding class on the desired element. */ }
 
 .container.w-90 {
   box-sizing: content-box;
   max-width: 90%;
   margin-left: auto;
   margin-right: auto;
   /* Don't add padding here. Simply call the padding class on the desired element. */ }

   .w-100{
     width: 100%!important;;
   }

   .h-100{
    height: 100%!important;;
  }
 .container {
   box-sizing: content-box;
   margin-left: auto;
   margin-right: auto;
   /* Don't add padding here. Simply call the padding class on the desired element. */ }
 
 .container.scroll-y {
   overflow-x: hidden;
   overflow-y: auto !important;
   flex-grow: 1;
}
 
 .container.no-scroll {
   flex-grow: 1; }
 
 /* ==========================================================================================================
  * Column Divider (Text)
  * ========================================================================================================== */
 /* Width modifiers */
 /* .content {
   /* Phone landscape and bigger */
   /* Tablet landscape and bigger */
   /* Desktop and bigger */
   /* Large screen and bigger} */
   .content .col-2 {
     column-count: 2; }
   .content .col-3 {
     column-count: 3; }
   .content .col-4 {
     column-count: 4; }
   .content .col-5 {
     column-count: 5; }
   .content .col-6 {
     column-count: 6; }
   @media (min-width: 640px) {
     .content .col-2\@s {
       column-count: 2; }
     .content .col-3\@s {
       column-count: 3; }
     .content .col-4\@s {
       column-count: 4; }
     .content .col-5\@s {
       column-count: 5; }
     .content .col-6\@s {
       column-count: 6; } }
   @media (min-width: 960px) {
     .content .col-2\@m {
       column-count: 2; }
     .content .col-3\@m {
       column-count: 3; }
     .content .col-4\@m {
       column-count: 4; }
     .content .col-5\@m {
       column-count: 5; }
     .content .col-6\@m {
       column-count: 6; } }
   @media (min-width: 1200px) {
     .content .col-2\@l {
       column-count: 2; }
     .content .col-3\@l {
       column-count: 3; }
     .content .col-4\@l {
       column-count: 4; }
     .content .col-5\@l {
       column-count: 5; }
     .content .col-6\@l {
       column-count: 6; } }
   @media (min-width: 1600px) {
     .content .col-2\@xl {
       column-count: 2; }
     .content .col-3\@xl {
       column-count: 3; }
     .content .col-4\@xl {
       column-count: 4; }
     .content .col-5\@xl {
       column-count: 5; }
     .content .col-6\@xl {
       column-count: 6; } }
 
 /* ============================================================================================================
  * Margin
  * ============================================================================================================ */
 .mx-auto{
   margin-left: auto!important;
   margin-right: auto!important;
 }
 
  /* Fixed */
 .m-fixed-1 {
   margin: 1px; }
 
 .m-fixed-2 {
   margin: 2px; }
 
 .m-fixed-3 {
   margin: 3px; }
 
 .m-fixed-4 {
   margin: 4px; }
 
 .m-fixed-5 {
   margin: 5px; }
 
 .m-fixed-6 {
   margin: 6px; }
 
 .m-fixed-7 {
   margin: 7px; }
 
 .m-fixed-8 {
   margin: 8px; }
 
 .m-fixed-9 {
   margin: 9px; }
 
 .m-fixed-10 {
   margin: 10px; }
 
 .m-fixed-11 {
   margin: 11px; }
 
 .m-fixed-12 {
   margin: 12px; }
 
 .m-fixed-13 {
   margin: 13px; }
 
 .m-fixed-14 {
   margin: 14px; }
 
 .m-fixed-15 {
   margin: 15px; }
 
 .m-fixed-16 {
   margin: 16px; }
 
 .m-fixed-17 {
   margin: 17px; }
 
 .m-fixed-18 {
   margin: 18px; }
 
 .m-fixed-19 {
   margin: 19px; }
 
 .m-fixed-20 {
   margin: 20px; }
 
 .m-fixed-21 {
   margin: 21px; }
 
 .m-fixed-22 {
   margin: 22px; }
 
 .m-fixed-23 {
   margin: 23px; }
 
 .m-fixed-24 {
   margin: 24px; }
 
 .m-fixed-25 {
   margin: 25px; }
 
 .m-fixed-26 {
   margin: 26px; }
 
 .m-fixed-27 {
   margin: 27px; }
 
 .m-fixed-28 {
   margin: 28px; }
 
 .m-fixed-29 {
   margin: 29px; }
 
 .m-fixed-30 {
   margin: 30px; }
 
 .m-fixed-31 {
   margin: 31px; }
 
 .m-fixed-32 {
   margin: 32px; }
 
 .m-fixed-33 {
   margin: 33px; }
 
 .m-fixed-34 {
   margin: 34px; }
 
 .m-fixed-35 {
   margin: 35px; }
 
 .m-fixed-36 {
   margin: 36px; }
 
 .m-fixed-37 {
   margin: 37px; }
 
 .m-fixed-38 {
   margin: 38px; }
 
 .m-fixed-39 {
   margin: 39px; }
 
 .m-fixed-40 {
   margin: 40px; }
 
 .m-fixed-41 {
   margin: 41px; }
 
 .m-fixed-42 {
   margin: 42px; }
 
 .m-fixed-43 {
   margin: 43px; }
 
 .m-fixed-44 {
   margin: 44px; }
 
 .m-fixed-45 {
   margin: 45px; }
 
 .m-fixed-46 {
   margin: 46px; }
 
 .m-fixed-47 {
   margin: 47px; }
 
 .m-fixed-48 {
   margin: 48px; }
 
 .m-fixed-49 {
   margin: 49px; }
 
 .m-fixed-50 {
   margin: 50px; }
 
 .m-fixed-l-1 {
   margin-left: 1px; }
 
 .m-fixed-l-2 {
   margin-left: 2px; }
 
 .m-fixed-l-3 {
   margin-left: 3px; }
 
 .m-fixed-l-4 {
   margin-left: 4px; }
 
 .m-fixed-l-5 {
   margin-left: 5px; }
 
 .m-fixed-l-6 {
   margin-left: 6px; }
 
 .m-fixed-l-7 {
   margin-left: 7px; }
 
 .m-fixed-l-8 {
   margin-left: 8px; }
 
 .m-fixed-l-9 {
   margin-left: 9px; }
 
 .m-fixed-l-10 {
   margin-left: 10px; }
 
 .m-fixed-l-11 {
   margin-left: 11px; }
 
 .m-fixed-l-12 {
   margin-left: 12px; }
 
 .m-fixed-l-13 {
   margin-left: 13px; }
 
 .m-fixed-l-14 {
   margin-left: 14px; }
 
 .m-fixed-l-15 {
   margin-left: 15px; }
 
 .m-fixed-l-16 {
   margin-left: 16px; }
 
 .m-fixed-l-17 {
   margin-left: 17px; }
 
 .m-fixed-l-18 {
   margin-left: 18px; }
 
 .m-fixed-l-19 {
   margin-left: 19px; }
 
 .m-fixed-l-20 {
   margin-left: 20px; }
 
 .m-fixed-l-21 {
   margin-left: 21px; }
 
 .m-fixed-l-22 {
   margin-left: 22px; }
 
 .m-fixed-l-23 {
   margin-left: 23px; }
 
 .m-fixed-l-24 {
   margin-left: 24px; }
 
 .m-fixed-l-25 {
   margin-left: 25px; }
 
 .m-fixed-l-26 {
   margin-left: 26px; }
 
 .m-fixed-l-27 {
   margin-left: 27px; }
 
 .m-fixed-l-28 {
   margin-left: 28px; }
 
 .m-fixed-l-29 {
   margin-left: 29px; }
 
 .m-fixed-l-30 {
   margin-left: 30px; }
 
 .m-fixed-l-31 {
   margin-left: 31px; }
 
 .m-fixed-l-32 {
   margin-left: 32px; }
 
 .m-fixed-l-33 {
   margin-left: 33px; }
 
 .m-fixed-l-34 {
   margin-left: 34px; }
 
 .m-fixed-l-35 {
   margin-left: 35px; }
 
 .m-fixed-l-36 {
   margin-left: 36px; }
 
 .m-fixed-l-37 {
   margin-left: 37px; }
 
 .m-fixed-l-38 {
   margin-left: 38px; }
 
 .m-fixed-l-39 {
   margin-left: 39px; }
 
 .m-fixed-l-40 {
   margin-left: 40px; }
 
 .m-fixed-l-41 {
   margin-left: 41px; }
 
 .m-fixed-l-42 {
   margin-left: 42px; }
 
 .m-fixed-l-43 {
   margin-left: 43px; }
 
 .m-fixed-l-44 {
   margin-left: 44px; }
 
 .m-fixed-l-45 {
   margin-left: 45px; }
 
 .m-fixed-l-46 {
   margin-left: 46px; }
 
 .m-fixed-l-47 {
   margin-left: 47px; }
 
 .m-fixed-l-48 {
   margin-left: 48px; }
 
 .m-fixed-l-49 {
   margin-left: 49px; }
 
 .m-fixed-l-50 {
   margin-left: 50px; }
 
 .m-fixed-l-51 {
   margin-left: 51px; }
 
 .m-fixed-l-52 {
   margin-left: 52px; }
 
 .m-fixed-l-53 {
   margin-left: 53px; }
 
 .m-fixed-l-54 {
   margin-left: 54px; }
 
 .m-fixed-l-55 {
   margin-left: 55px; }
 
 .m-fixed-l-56 {
   margin-left: 56px; }
 
 .m-fixed-l-57 {
   margin-left: 57px; }
 
 .m-fixed-l-58 {
   margin-left: 58px; }
 
 .m-fixed-l-59 {
   margin-left: 59px; }
 
 .m-fixed-l-60 {
   margin-left: 60px; }
 
 .m-fixed-l-61 {
   margin-left: 61px; }
 
 .m-fixed-l-62 {
   margin-left: 62px; }
 
 .m-fixed-l-63 {
   margin-left: 63px; }
 
 .m-fixed-l-64 {
   margin-left: 64px; }
 
 .m-fixed-l-65 {
   margin-left: 65px; }
 
 .m-fixed-l-66 {
   margin-left: 66px; }
 
 .m-fixed-l-67 {
   margin-left: 67px; }
 
 .m-fixed-l-68 {
   margin-left: 68px; }
 
 .m-fixed-l-69 {
   margin-left: 69px; }
 
 .m-fixed-l-70 {
   margin-left: 70px; }
 
 .m-fixed-l-71 {
   margin-left: 71px; }
 
 .m-fixed-l-72 {
   margin-left: 72px; }
 
 .m-fixed-l-73 {
   margin-left: 73px; }
 
 .m-fixed-l-74 {
   margin-left: 74px; }
 
 .m-fixed-l-75 {
   margin-left: 75px; }
 
 .m-fixed-l-76 {
   margin-left: 76px; }
 
 .m-fixed-l-77 {
   margin-left: 77px; }
 
 .m-fixed-l-78 {
   margin-left: 78px; }
 
 .m-fixed-l-79 {
   margin-left: 79px; }
 
 .m-fixed-l-80 {
   margin-left: 80px; }
 
 .m-fixed-l-81 {
   margin-left: 81px; }
 
 .m-fixed-l-82 {
   margin-left: 82px; }
 
 .m-fixed-l-83 {
   margin-left: 83px; }
 
 .m-fixed-l-84 {
   margin-left: 84px; }
 
 .m-fixed-l-85 {
   margin-left: 85px; }
 
 .m-fixed-l-86 {
   margin-left: 86px; }
 
 .m-fixed-l-87 {
   margin-left: 87px; }
 
 .m-fixed-l-88 {
   margin-left: 88px; }
 
 .m-fixed-l-89 {
   margin-left: 89px; }
 
 .m-fixed-l-90 {
   margin-left: 90px; }
 
 .m-fixed-l-91 {
   margin-left: 91px; }
 
 .m-fixed-l-92 {
   margin-left: 92px; }
 
 .m-fixed-l-93 {
   margin-left: 93px; }
 
 .m-fixed-l-94 {
   margin-left: 94px; }
 
 .m-fixed-l-95 {
   margin-left: 95px; }
 
 .m-fixed-l-96 {
   margin-left: 96px; }
 
 .m-fixed-l-97 {
   margin-left: 97px; }
 
 .m-fixed-l-98 {
   margin-left: 98px; }
 
 .m-fixed-l-99 {
   margin-left: 99px; }
 
 .m-fixed-l-100 {
   margin-left: 100px; }
 
 .m-fixed-l-101 {
   margin-left: 101px; }
 
 .m-fixed-l-102 {
   margin-left: 102px; }
 
 .m-fixed-l-103 {
   margin-left: 103px; }
 
 .m-fixed-l-104 {
   margin-left: 104px; }
 
 .m-fixed-l-105 {
   margin-left: 105px; }
 
 .m-fixed-l-106 {
   margin-left: 106px; }
 
 .m-fixed-l-107 {
   margin-left: 107px; }
 
 .m-fixed-l-108 {
   margin-left: 108px; }
 
 .m-fixed-l-109 {
   margin-left: 109px; }
 
 .m-fixed-l-110 {
   margin-left: 110px; }
 
 .m-fixed-l-111 {
   margin-left: 111px; }
 
 .m-fixed-l-112 {
   margin-left: 112px; }
 
 .m-fixed-l-113 {
   margin-left: 113px; }
 
 .m-fixed-l-114 {
   margin-left: 114px; }
 
 .m-fixed-l-115 {
   margin-left: 115px; }
 
 .m-fixed-l-116 {
   margin-left: 116px; }
 
 .m-fixed-l-117 {
   margin-left: 117px; }
 
 .m-fixed-l-118 {
   margin-left: 118px; }
 
 .m-fixed-l-119 {
   margin-left: 119px; }
 
 .m-fixed-l-120 {
   margin-left: 120px; }
 
 .m-fixed-l-121 {
   margin-left: 121px; }
 
 .m-fixed-l-122 {
   margin-left: 122px; }
 
 .m-fixed-l-123 {
   margin-left: 123px; }
 
 .m-fixed-l-124 {
   margin-left: 124px; }
 
 .m-fixed-l-125 {
   margin-left: 125px; }
 
 .m-fixed-l-126 {
   margin-left: 126px; }
 
 .m-fixed-l-127 {
   margin-left: 127px; }
 
 .m-fixed-l-128 {
   margin-left: 128px; }
 
 .m-fixed-l-129 {
   margin-left: 129px; }
 
 .m-fixed-l-130 {
   margin-left: 130px; }
 
 .m-fixed-l-131 {
   margin-left: 131px; }
 
 .m-fixed-l-132 {
   margin-left: 132px; }
 
 .m-fixed-l-133 {
   margin-left: 133px; }
 
 .m-fixed-l-134 {
   margin-left: 134px; }
 
 .m-fixed-l-135 {
   margin-left: 135px; }
 
 .m-fixed-l-136 {
   margin-left: 136px; }
 
 .m-fixed-l-137 {
   margin-left: 137px; }
 
 .m-fixed-l-138 {
   margin-left: 138px; }
 
 .m-fixed-l-139 {
   margin-left: 139px; }
 
 .m-fixed-l-140 {
   margin-left: 140px; }
 
 .m-fixed-l-141 {
   margin-left: 141px; }
 
 .m-fixed-l-142 {
   margin-left: 142px; }
 
 .m-fixed-l-143 {
   margin-left: 143px; }
 
 .m-fixed-l-144 {
   margin-left: 144px; }
 
 .m-fixed-l-145 {
   margin-left: 145px; }
 
 .m-fixed-l-146 {
   margin-left: 146px; }
 
 .m-fixed-l-147 {
   margin-left: 147px; }
 
 .m-fixed-l-148 {
   margin-left: 148px; }
 
 .m-fixed-l-149 {
   margin-left: 149px; }
 
 .m-fixed-l-150 {
   margin-left: 150px; }
 
 .m-fixed-l-151 {
   margin-left: 151px; }
 
 .m-fixed-l-152 {
   margin-left: 152px; }
 
 .m-fixed-l-153 {
   margin-left: 153px; }
 
 .m-fixed-l-154 {
   margin-left: 154px; }
 
 .m-fixed-l-155 {
   margin-left: 155px; }
 
 .m-fixed-l-156 {
   margin-left: 156px; }
 
 .m-fixed-l-157 {
   margin-left: 157px; }
 
 .m-fixed-l-158 {
   margin-left: 158px; }
 
 .m-fixed-l-159 {
   margin-left: 159px; }
 
 .m-fixed-l-160 {
   margin-left: 160px; }
 
 .m-fixed-l-161 {
   margin-left: 161px; }
 
 .m-fixed-l-162 {
   margin-left: 162px; }
 
 .m-fixed-l-163 {
   margin-left: 163px; }
 
 .m-fixed-l-164 {
   margin-left: 164px; }
 
 .m-fixed-l-165 {
   margin-left: 165px; }
 
 .m-fixed-l-166 {
   margin-left: 166px; }
 
 .m-fixed-l-167 {
   margin-left: 167px; }
 
 .m-fixed-l-168 {
   margin-left: 168px; }
 
 .m-fixed-l-169 {
   margin-left: 169px; }
 
 .m-fixed-l-170 {
   margin-left: 170px; }
 
 .m-fixed-l-171 {
   margin-left: 171px; }
 
 .m-fixed-l-172 {
   margin-left: 172px; }
 
 .m-fixed-l-173 {
   margin-left: 173px; }
 
 .m-fixed-l-174 {
   margin-left: 174px; }
 
 .m-fixed-l-175 {
   margin-left: 175px; }
 
 .m-fixed-l-176 {
   margin-left: 176px; }
 
 .m-fixed-l-177 {
   margin-left: 177px; }
 
 .m-fixed-l-178 {
   margin-left: 178px; }
 
 .m-fixed-l-179 {
   margin-left: 179px; }
 
 .m-fixed-l-180 {
   margin-left: 180px; }
 
 .m-fixed-l-181 {
   margin-left: 181px; }
 
 .m-fixed-l-182 {
   margin-left: 182px; }
 
 .m-fixed-l-183 {
   margin-left: 183px; }
 
 .m-fixed-l-184 {
   margin-left: 184px; }
 
 .m-fixed-l-185 {
   margin-left: 185px; }
 
 .m-fixed-l-186 {
   margin-left: 186px; }
 
 .m-fixed-l-187 {
   margin-left: 187px; }
 
 .m-fixed-l-188 {
   margin-left: 188px; }
 
 .m-fixed-l-189 {
   margin-left: 189px; }
 
 .m-fixed-l-190 {
   margin-left: 190px; }
 
 .m-fixed-l-191 {
   margin-left: 191px; }
 
 .m-fixed-l-192 {
   margin-left: 192px; }
 
 .m-fixed-l-193 {
   margin-left: 193px; }
 
 .m-fixed-l-194 {
   margin-left: 194px; }
 
 .m-fixed-l-195 {
   margin-left: 195px; }
 
 .m-fixed-l-196 {
   margin-left: 196px; }
 
 .m-fixed-l-197 {
   margin-left: 197px; }
 
 .m-fixed-l-198 {
   margin-left: 198px; }
 
 .m-fixed-l-199 {
   margin-left: 199px; }
 
 .m-fixed-l-200 {
   margin-left: 200px; }
 
 .m-fixed-l-201 {
   margin-left: 201px; }
 
 .m-fixed-l-202 {
   margin-left: 202px; }
 
 .m-fixed-l-203 {
   margin-left: 203px; }
 
 .m-fixed-l-204 {
   margin-left: 204px; }
 
 .m-fixed-l-205 {
   margin-left: 205px; }
 
 .m-fixed-l-206 {
   margin-left: 206px; }
 
 .m-fixed-l-207 {
   margin-left: 207px; }
 
 .m-fixed-l-208 {
   margin-left: 208px; }
 
 .m-fixed-l-209 {
   margin-left: 209px; }
 
 .m-fixed-l-210 {
   margin-left: 210px; }
 
 .m-fixed-l-211 {
   margin-left: 211px; }
 
 .m-fixed-l-212 {
   margin-left: 212px; }
 
 .m-fixed-l-213 {
   margin-left: 213px; }
 
 .m-fixed-l-214 {
   margin-left: 214px; }
 
 .m-fixed-l-215 {
   margin-left: 215px; }
 
 .m-fixed-l-216 {
   margin-left: 216px; }
 
 .m-fixed-l-217 {
   margin-left: 217px; }
 
 .m-fixed-l-218 {
   margin-left: 218px; }
 
 .m-fixed-l-219 {
   margin-left: 219px; }
 
 .m-fixed-l-220 {
   margin-left: 220px; }
 
 .m-fixed-l-221 {
   margin-left: 221px; }
 
 .m-fixed-l-222 {
   margin-left: 222px; }
 
 .m-fixed-l-223 {
   margin-left: 223px; }
 
 .m-fixed-l-224 {
   margin-left: 224px; }
 
 .m-fixed-l-225 {
   margin-left: 225px; }
 
 .m-fixed-l-226 {
   margin-left: 226px; }
 
 .m-fixed-l-227 {
   margin-left: 227px; }
 
 .m-fixed-l-228 {
   margin-left: 228px; }
 
 .m-fixed-l-229 {
   margin-left: 229px; }
 
 .m-fixed-l-230 {
   margin-left: 230px; }
 
 .m-fixed-l-231 {
   margin-left: 231px; }
 
 .m-fixed-l-232 {
   margin-left: 232px; }
 
 .m-fixed-l-233 {
   margin-left: 233px; }
 
 .m-fixed-l-234 {
   margin-left: 234px; }
 
 .m-fixed-l-235 {
   margin-left: 235px; }
 
 .m-fixed-l-236 {
   margin-left: 236px; }
 
 .m-fixed-l-237 {
   margin-left: 237px; }
 
 .m-fixed-l-238 {
   margin-left: 238px; }
 
 .m-fixed-l-239 {
   margin-left: 239px; }
 
 .m-fixed-l-240 {
   margin-left: 240px; }
 
 .m-fixed-l-241 {
   margin-left: 241px; }
 
 .m-fixed-l-242 {
   margin-left: 242px; }
 
 .m-fixed-l-243 {
   margin-left: 243px; }
 
 .m-fixed-l-244 {
   margin-left: 244px; }
 
 .m-fixed-l-245 {
   margin-left: 245px; }
 
 .m-fixed-l-246 {
   margin-left: 246px; }
 
 .m-fixed-l-247 {
   margin-left: 247px; }
 
 .m-fixed-l-248 {
   margin-left: 248px; }
 
 .m-fixed-l-249 {
   margin-left: 249px; }
 
 .m-fixed-l-250 {
   margin-left: 250px; }
 
 .m-fixed-l-251 {
   margin-left: 251px; }
 
 .m-fixed-l-252 {
   margin-left: 252px; }
 
 .m-fixed-l-253 {
   margin-left: 253px; }
 
 .m-fixed-l-254 {
   margin-left: 254px; }
 
 .m-fixed-l-255 {
   margin-left: 255px; }
 
 .m-fixed-r-1 {
   margin-right: 1px; }
 
 .m-fixed-r-2 {
   margin-right: 2px; }
 
 .m-fixed-r-3 {
   margin-right: 3px; }
 
 .m-fixed-r-4 {
   margin-right: 4px; }
 
 .m-fixed-r-5 {
   margin-right: 5px; }
 
 .m-fixed-r-6 {
   margin-right: 6px; }
 
 .m-fixed-r-7 {
   margin-right: 7px; }
 
 .m-fixed-r-8 {
   margin-right: 8px; }
 
 .m-fixed-r-9 {
   margin-right: 9px; }
 
 .m-fixed-r-10 {
   margin-right: 10px; }
 
 .m-fixed-r-11 {
   margin-right: 11px; }
 
 .m-fixed-r-12 {
   margin-right: 12px; }
 
 .m-fixed-r-13 {
   margin-right: 13px; }
 
 .m-fixed-r-14 {
   margin-right: 14px; }
 
 .m-fixed-r-15 {
   margin-right: 15px; }
 
 .m-fixed-r-16 {
   margin-right: 16px; }
 
 .m-fixed-r-17 {
   margin-right: 17px; }
 
 .m-fixed-r-18 {
   margin-right: 18px; }
 
 .m-fixed-r-19 {
   margin-right: 19px; }
 
 .m-fixed-r-20 {
   margin-right: 20px; }
 
 .m-fixed-r-21 {
   margin-right: 21px; }
 
 .m-fixed-r-22 {
   margin-right: 22px; }
 
 .m-fixed-r-23 {
   margin-right: 23px; }
 
 .m-fixed-r-24 {
   margin-right: 24px; }
 
 .m-fixed-r-25 {
   margin-right: 25px; }
 
 .m-fixed-r-26 {
   margin-right: 26px; }
 
 .m-fixed-r-27 {
   margin-right: 27px; }
 
 .m-fixed-r-28 {
   margin-right: 28px; }
 
 .m-fixed-r-29 {
   margin-right: 29px; }
 
 .m-fixed-r-30 {
   margin-right: 30px; }
 
 .m-fixed-r-31 {
   margin-right: 31px; }
 
 .m-fixed-r-32 {
   margin-right: 32px; }
 
 .m-fixed-r-33 {
   margin-right: 33px; }
 
 .m-fixed-r-34 {
   margin-right: 34px; }
 
 .m-fixed-r-35 {
   margin-right: 35px; }
 
 .m-fixed-r-36 {
   margin-right: 36px; }
 
 .m-fixed-r-37 {
   margin-right: 37px; }
 
 .m-fixed-r-38 {
   margin-right: 38px; }
 
 .m-fixed-r-39 {
   margin-right: 39px; }
 
 .m-fixed-r-40 {
   margin-right: 40px; }
 
 .m-fixed-r-41 {
   margin-right: 41px; }
 
 .m-fixed-r-42 {
   margin-right: 42px; }
 
 .m-fixed-r-43 {
   margin-right: 43px; }
 
 .m-fixed-r-44 {
   margin-right: 44px; }
 
 .m-fixed-r-45 {
   margin-right: 45px; }
 
 .m-fixed-r-46 {
   margin-right: 46px; }
 
 .m-fixed-r-47 {
   margin-right: 47px; }
 
 .m-fixed-r-48 {
   margin-right: 48px; }
 
 .m-fixed-r-49 {
   margin-right: 49px; }
 
 .m-fixed-r-50 {
   margin-right: 50px; }
 
 .m-fixed-t-1 {
   margin-top: 1px; }
 
 .m-fixed-t-2 {
   margin-top: 2px; }
 
 .m-fixed-t-3 {
   margin-top: 3px; }
 
 .m-fixed-t-4 {
   margin-top: 4px; }
 
 .m-fixed-t-5 {
   margin-top: 5px; }
 
 .m-fixed-t-6 {
   margin-top: 6px; }
 
 .m-fixed-t-7 {
   margin-top: 7px; }
 
 .m-fixed-t-8 {
   margin-top: 8px; }
 
 .m-fixed-t-9 {
   margin-top: 9px; }
 
 .m-fixed-t-10 {
   margin-top: 10px; }
 
 .m-fixed-t-11 {
   margin-top: 11px; }
 
 .m-fixed-t-12 {
   margin-top: 12px; }
 
 .m-fixed-t-13 {
   margin-top: 13px; }
 
 .m-fixed-t-14 {
   margin-top: 14px; }
 
 .m-fixed-t-15 {
   margin-top: 15px; }
 
 .m-fixed-t-16 {
   margin-top: 16px; }
 
 .m-fixed-t-17 {
   margin-top: 17px; }
 
 .m-fixed-t-18 {
   margin-top: 18px; }
 
 .m-fixed-t-19 {
   margin-top: 19px; }
 
 .m-fixed-t-20 {
   margin-top: 20px; }
 
 .m-fixed-t-21 {
   margin-top: 21px; }
 
 .m-fixed-t-22 {
   margin-top: 22px; }
 
 .m-fixed-t-23 {
   margin-top: 23px; }
 
 .m-fixed-t-24 {
   margin-top: 24px; }
 
 .m-fixed-t-25 {
   margin-top: 25px; }
 
 .m-fixed-t-26 {
   margin-top: 26px; }
 
 .m-fixed-t-27 {
   margin-top: 27px; }
 
 .m-fixed-t-28 {
   margin-top: 28px; }
 
 .m-fixed-t-29 {
   margin-top: 29px; }
 
 .m-fixed-t-30 {
   margin-top: 30px; }
 
 .m-fixed-t-31 {
   margin-top: 31px; }
 
 .m-fixed-t-32 {
   margin-top: 32px; }
 
 .m-fixed-t-33 {
   margin-top: 33px; }
 
 .m-fixed-t-34 {
   margin-top: 34px; }
 
 .m-fixed-t-35 {
   margin-top: 35px; }
 
 .m-fixed-t-36 {
   margin-top: 36px; }
 
 .m-fixed-t-37 {
   margin-top: 37px; }
 
 .m-fixed-t-38 {
   margin-top: 38px; }
 
 .m-fixed-t-39 {
   margin-top: 39px; }
 
 .m-fixed-t-40 {
   margin-top: 40px; }
 
 .m-fixed-t-41 {
   margin-top: 41px; }
 
 .m-fixed-t-42 {
   margin-top: 42px; }
 
 .m-fixed-t-43 {
   margin-top: 43px; }
 
 .m-fixed-t-44 {
   margin-top: 44px; }
 
 .m-fixed-t-45 {
   margin-top: 45px; }
 
 .m-fixed-t-46 {
   margin-top: 46px; }
 
 .m-fixed-t-47 {
   margin-top: 47px; }
 
 .m-fixed-t-48 {
   margin-top: 48px; }
 
 .m-fixed-t-49 {
   margin-top: 49px; }
 
 .m-fixed-t-50 {
   margin-top: 50px; }
 
 .m-fixed-b-1 {
   margin-bottom: 1px; }
 
 .m-fixed-b-2 {
   margin-bottom: 2px; }
 
 .m-fixed-b-3 {
   margin-bottom: 3px; }
 
 .m-fixed-b-4 {
   margin-bottom: 4px; }
 
 .m-fixed-b-5 {
   margin-bottom: 5px; }
 
 .m-fixed-b-6 {
   margin-bottom: 6px; }
 
 .m-fixed-b-7 {
   margin-bottom: 7px; }
 
 .m-fixed-b-8 {
   margin-bottom: 8px; }
 
 .m-fixed-b-9 {
   margin-bottom: 9px; }
 
 .m-fixed-b-10 {
   margin-bottom: 10px; }
 
 .m-fixed-b-11 {
   margin-bottom: 11px; }
 
 .m-fixed-b-12 {
   margin-bottom: 12px; }
 
 .m-fixed-b-13 {
   margin-bottom: 13px; }
 
 .m-fixed-b-14 {
   margin-bottom: 14px; }
 
 .m-fixed-b-15 {
   margin-bottom: 15px; }
 
 .m-fixed-b-16 {
   margin-bottom: 16px; }
 
 .m-fixed-b-17 {
   margin-bottom: 17px; }
 
 .m-fixed-b-18 {
   margin-bottom: 18px; }
 
 .m-fixed-b-19 {
   margin-bottom: 19px; }
 
 .m-fixed-b-20 {
   margin-bottom: 20px; }
 
 .m-fixed-b-21 {
   margin-bottom: 21px; }
 
 .m-fixed-b-22 {
   margin-bottom: 22px; }
 
 .m-fixed-b-23 {
   margin-bottom: 23px; }
 
 .m-fixed-b-24 {
   margin-bottom: 24px; }
 
 .m-fixed-b-25 {
   margin-bottom: 25px; }
 
 .m-fixed-b-26 {
   margin-bottom: 26px; }
 
 .m-fixed-b-27 {
   margin-bottom: 27px; }
 
 .m-fixed-b-28 {
   margin-bottom: 28px; }
 
 .m-fixed-b-29 {
   margin-bottom: 29px; }
 
 .m-fixed-b-30 {
   margin-bottom: 30px; }
 
 .m-fixed-b-31 {
   margin-bottom: 31px; }
 
 .m-fixed-b-32 {
   margin-bottom: 32px; }
 
 .m-fixed-b-33 {
   margin-bottom: 33px; }
 
 .m-fixed-b-34 {
   margin-bottom: 34px; }
 
 .m-fixed-b-35 {
   margin-bottom: 35px; }
 
 .m-fixed-b-36 {
   margin-bottom: 36px; }
 
 .m-fixed-b-37 {
   margin-bottom: 37px; }
 
 .m-fixed-b-38 {
   margin-bottom: 38px; }
 
 .m-fixed-b-39 {
   margin-bottom: 39px; }
 
 .m-fixed-b-40 {
   margin-bottom: 40px; }
 
 .m-fixed-b-41 {
   margin-bottom: 41px; }
 
 .m-fixed-b-42 {
   margin-bottom: 42px; }
 
 .m-fixed-b-43 {
   margin-bottom: 43px; }
 
 .m-fixed-b-44 {
   margin-bottom: 44px; }
 
 .m-fixed-b-45 {
   margin-bottom: 45px; }
 
 .m-fixed-b-46 {
   margin-bottom: 46px; }
 
 .m-fixed-b-47 {
   margin-bottom: 47px; }
 
 .m-fixed-b-48 {
   margin-bottom: 48px; }
 
 .m-fixed-b-49 {
   margin-bottom: 49px; }
 
 .m-fixed-b-50 {
   margin-bottom: 50px; }
 
 /* Responsive */
 .m-1 {
   margin: 1rem; }
 
 .m-2 {
   margin: 2rem; }
 
 .m-3 {
   margin: 3rem; }
 
 .m-4 {
   margin: 4rem; }
 
 .m-5 {
   margin: 5rem; }
 
 .m-6 {
   margin: 6rem; }
 
 .m-7 {
   margin: 7rem; }
 
 .m-8 {
   margin: 8rem; }
 
 .m-9 {
   margin: 9rem; }
 
 .m-10 {
   margin: 10rem; }
 
 .m-11 {
   margin: 11rem; }
 
 .m-12 {
   margin: 12rem; }
 
 .m-13 {
   margin: 13rem; }
 
 .m-14 {
   margin: 14rem; }
 
 .m-15 {
   margin: 15rem; }
 
 .m-16 {
   margin: 16rem; }
 
 .m-17 {
   margin: 17rem; }
 
 .m-18 {
   margin: 18rem; }
 
 .m-19 {
   margin: 19rem; }
 
 .m-20 {
   margin: 20rem; }
 
 .m-l-1 {
   margin-left: 1rem; }
 
 .m-l-2 {
   margin-left: 2rem; }
 
 .m-l-3 {
   margin-left: 3rem; }
 
 .m-l-4 {
   margin-left: 4rem; }
 
 .m-l-5 {
   margin-left: 5rem; }
 
 .m-l-6 {
   margin-left: 6rem; }
 
 .m-l-7 {
   margin-left: 7rem; }
 
 .m-l-8 {
   margin-left: 8rem; }
 
 .m-l-9 {
   margin-left: 9rem; }
 
 .m-l-10 {
   margin-left: 10rem; }
 
 .m-l-11 {
   margin-left: 11rem; }
 
 .m-l-12 {
   margin-left: 12rem; }
 
 .m-l-13 {
   margin-left: 13rem; }
 
 .m-l-14 {
   margin-left: 14rem; }
 
 .m-l-15 {
   margin-left: 15rem; }
 
 .m-l-16 {
   margin-left: 16rem; }
 
 .m-l-17 {
   margin-left: 17rem; }
 
 .m-l-18 {
   margin-left: 18rem; }
 
 .m-l-19 {
   margin-left: 19rem; }
 
 .m-l-20 {
   margin-left: 20rem; }
 
 .m-r-1 {
   margin-right: 1rem; }
 
 .m-r-2 {
   margin-right: 2rem; }
 
 .m-r-3 {
   margin-right: 3rem; }
 
 .m-r-4 {
   margin-right: 4rem; }
 
 .m-r-5 {
   margin-right: 5rem; }
 
 .m-r-6 {
   margin-right: 6rem; }
 
 .m-r-7 {
   margin-right: 7rem; }
 
 .m-r-8 {
   margin-right: 8rem; }
 
 .m-r-9 {
   margin-right: 9rem; }
 
 .m-r-10 {
   margin-right: 10rem; }
 
 .m-r-11 {
   margin-right: 11rem; }
 
 .m-r-12 {
   margin-right: 12rem; }
 
 .m-r-13 {
   margin-right: 13rem; }
 
 .m-r-14 {
   margin-right: 14rem; }
 
 .m-r-15 {
   margin-right: 15rem; }
 
 .m-r-16 {
   margin-right: 16rem; }
 
 .m-r-17 {
   margin-right: 17rem; }
 
 .m-r-18 {
   margin-right: 18rem; }
 
 .m-r-19 {
   margin-right: 19rem; }
 
 .m-r-20 {
   margin-right: 20rem; }
 
 .m-t-1 {
   margin-top: 1rem; }
 
 .m-t-2 {
   margin-top: 2rem; }
 
 .m-t-3 {
   margin-top: 3rem; }
 
 .m-t-4 {
   margin-top: 4rem; }
 
 .m-t-5 {
   margin-top: 5rem; }
 
 .m-t-6 {
   margin-top: 6rem; }
 
 .m-t-7 {
   margin-top: 7rem; }
 
 .m-t-8 {
   margin-top: 8rem; }
 
 .m-t-9 {
   margin-top: 9rem; }
 
 .m-t-10 {
   margin-top: 10rem; }
 
 .m-t-11 {
   margin-top: 11rem; }
 
 .m-t-12 {
   margin-top: 12rem; }
 
 .m-t-13 {
   margin-top: 13rem; }
 
 .m-t-14 {
   margin-top: 14rem; }
 
 .m-t-15 {
   margin-top: 15rem; }
 
 .m-t-16 {
   margin-top: 16rem; }
 
 .m-t-17 {
   margin-top: 17rem; }
 
 .m-t-18 {
   margin-top: 18rem; }
 
 .m-t-19 {
   margin-top: 19rem; }
 
 .m-t-20 {
   margin-top: 20rem; }
 
 .m-b-1 {
   margin-bottom: 1rem; }
 
 .m-b-2 {
   margin-bottom: 2rem; }
 
 .m-b-3 {
   margin-bottom: 3rem; }
 
 .m-b-4 {
   margin-bottom: 4rem; }
 
 .m-b-5 {
   margin-bottom: 5rem; }
 
 .m-b-6 {
   margin-bottom: 6rem; }
 
 .m-b-7 {
   margin-bottom: 7rem; }
 
 .m-b-8 {
   margin-bottom: 8rem; }
 
 .m-b-9 {
   margin-bottom: 9rem; }
 
 .m-b-10 {
   margin-bottom: 10rem; }
 
 .m-b-11 {
   margin-bottom: 11rem; }
 
 .m-b-12 {
   margin-bottom: 12rem; }
 
 .m-b-13 {
   margin-bottom: 13rem; }
 
 .m-b-14 {
   margin-bottom: 14rem; }
 
 .m-b-15 {
   margin-bottom: 15rem; }
 
 .m-b-16 {
   margin-bottom: 16rem; }
 
 .m-b-17 {
   margin-bottom: 17rem; }
 
 .m-b-18 {
   margin-bottom: 18rem; }
 
 .m-b-19 {
   margin-bottom: 19rem; }
 
 .m-b-20 {
   margin-bottom: 20rem; }
 
 /* Remove */
 .m.rm {
   margin: 0 !important; }
 
 .m.rm-l {
   margin-left: 0 !important; }
 
 .m.rm-r {
   margin-right: 0 !important; }
 
 .m.rm-t {
   margin-top: 0 !important; }
 
 .m.rm-b {
   margin-bottom: 0 !important; }
 
 /* ============================================================================================================
  * Padding
  * ============================================================================================================ */
 /* Fixed */
 .p-fixed-1 {
   padding: 1px; }
 
 .p-fixed-2 {
   padding: 2px; }
 
 .p-fixed-3 {
   padding: 3px; }
 
 .p-fixed-4 {
   padding: 4px; }
 
 .p-fixed-5 {
   padding: 5px; }
 
 .p-fixed-6 {
   padding: 6px; }
 
 .p-fixed-7 {
   padding: 7px; }
 
 .p-fixed-8 {
   padding: 8px; }
 
 .p-fixed-9 {
   padding: 9px; }
 
 .p-fixed-10 {
   padding: 10px; }
 
 .p-fixed-11 {
   padding: 11px; }
 
 .p-fixed-12 {
   padding: 12px; }
 
 .p-fixed-13 {
   padding: 13px; }
 
 .p-fixed-14 {
   padding: 14px; }
 
 .p-fixed-15 {
   padding: 15px; }
 
 .p-fixed-16 {
   padding: 16px; }
 
 .p-fixed-17 {
   padding: 17px; }
 
 .p-fixed-18 {
   padding: 18px; }
 
 .p-fixed-19 {
   padding: 19px; }
 
 .p-fixed-20 {
   padding: 20px; }
 
 .p-fixed-21 {
   padding: 21px; }
 
 .p-fixed-22 {
   padding: 22px; }
 
 .p-fixed-23 {
   padding: 23px; }
 
 .p-fixed-24 {
   padding: 24px; }
 
 .p-fixed-25 {
   padding: 25px; }
 
 .p-fixed-26 {
   padding: 26px; }
 
 .p-fixed-27 {
   padding: 27px; }
 
 .p-fixed-28 {
   padding: 28px; }
 
 .p-fixed-29 {
   padding: 29px; }
 
 .p-fixed-30 {
   padding: 30px; }
 
 .p-fixed-31 {
   padding: 31px; }
 
 .p-fixed-32 {
   padding: 32px; }
 
 .p-fixed-33 {
   padding: 33px; }
 
 .p-fixed-34 {
   padding: 34px; }
 
 .p-fixed-35 {
   padding: 35px; }
 
 .p-fixed-36 {
   padding: 36px; }
 
 .p-fixed-37 {
   padding: 37px; }
 
 .p-fixed-38 {
   padding: 38px; }
 
 .p-fixed-39 {
   padding: 39px; }
 
 .p-fixed-40 {
   padding: 40px; }
 
 .p-fixed-41 {
   padding: 41px; }
 
 .p-fixed-42 {
   padding: 42px; }
 
 .p-fixed-43 {
   padding: 43px; }
 
 .p-fixed-44 {
   padding: 44px; }
 
 .p-fixed-45 {
   padding: 45px; }
 
 .p-fixed-46 {
   padding: 46px; }
 
 .p-fixed-47 {
   padding: 47px; }
 
 .p-fixed-48 {
   padding: 48px; }
 
 .p-fixed-49 {
   padding: 49px; }
 
 .p-fixed-50 {
   padding: 50px; }
 
 .p-fixed-l-1 {
   padding-left: 1px; }
 
 .p-fixed-l-2 {
   padding-left: 2px; }
 
 .p-fixed-l-3 {
   padding-left: 3px; }
 
 .p-fixed-l-4 {
   padding-left: 4px; }
 
 .p-fixed-l-5 {
   padding-left: 5px; }
 
 .p-fixed-l-6 {
   padding-left: 6px; }
 
 .p-fixed-l-7 {
   padding-left: 7px; }
 
 .p-fixed-l-8 {
   padding-left: 8px; }
 
 .p-fixed-l-9 {
   padding-left: 9px; }
 
 .p-fixed-l-10 {
   padding-left: 10px; }
 
 .p-fixed-l-11 {
   padding-left: 11px; }
 
 .p-fixed-l-12 {
   padding-left: 12px; }
 
 .p-fixed-l-13 {
   padding-left: 13px; }
 
 .p-fixed-l-14 {
   padding-left: 14px; }
 
 .p-fixed-l-15 {
   padding-left: 15px; }
 
 .p-fixed-l-16 {
   padding-left: 16px; }
 
 .p-fixed-l-17 {
   padding-left: 17px; }
 
 .p-fixed-l-18 {
   padding-left: 18px; }
 
 .p-fixed-l-19 {
   padding-left: 19px; }
 
 .p-fixed-l-20 {
   padding-left: 20px; }
 
 .p-fixed-l-21 {
   padding-left: 21px; }
 
 .p-fixed-l-22 {
   padding-left: 22px; }
 
 .p-fixed-l-23 {
   padding-left: 23px; }
 
 .p-fixed-l-24 {
   padding-left: 24px; }
 
 .p-fixed-l-25 {
   padding-left: 25px; }
 
 .p-fixed-l-26 {
   padding-left: 26px; }
 
 .p-fixed-l-27 {
   padding-left: 27px; }
 
 .p-fixed-l-28 {
   padding-left: 28px; }
 
 .p-fixed-l-29 {
   padding-left: 29px; }
 
 .p-fixed-l-30 {
   padding-left: 30px; }
 
 .p-fixed-l-31 {
   padding-left: 31px; }
 
 .p-fixed-l-32 {
   padding-left: 32px; }
 
 .p-fixed-l-33 {
   padding-left: 33px; }
 
 .p-fixed-l-34 {
   padding-left: 34px; }
 
 .p-fixed-l-35 {
   padding-left: 35px; }
 
 .p-fixed-l-36 {
   padding-left: 36px; }
 
 .p-fixed-l-37 {
   padding-left: 37px; }
 
 .p-fixed-l-38 {
   padding-left: 38px; }
 
 .p-fixed-l-39 {
   padding-left: 39px; }
 
 .p-fixed-l-40 {
   padding-left: 40px; }
 
 .p-fixed-l-41 {
   padding-left: 41px; }
 
 .p-fixed-l-42 {
   padding-left: 42px; }
 
 .p-fixed-l-43 {
   padding-left: 43px; }
 
 .p-fixed-l-44 {
   padding-left: 44px; }
 
 .p-fixed-l-45 {
   padding-left: 45px; }
 
 .p-fixed-l-46 {
   padding-left: 46px; }
 
 .p-fixed-l-47 {
   padding-left: 47px; }
 
 .p-fixed-l-48 {
   padding-left: 48px; }
 
 .p-fixed-l-49 {
   padding-left: 49px; }
 
 .p-fixed-l-50 {
   padding-left: 50px; }
 
 .p-fixed-l-51 {
   padding-left: 51px; }
 
 .p-fixed-l-52 {
   padding-left: 52px; }
 
 .p-fixed-l-53 {
   padding-left: 53px; }
 
 .p-fixed-l-54 {
   padding-left: 54px; }
 
 .p-fixed-l-55 {
   padding-left: 55px; }
 
 .p-fixed-l-56 {
   padding-left: 56px; }
 
 .p-fixed-l-57 {
   padding-left: 57px; }
 
 .p-fixed-l-58 {
   padding-left: 58px; }
 
 .p-fixed-l-59 {
   padding-left: 59px; }
 
 .p-fixed-l-60 {
   padding-left: 60px; }
 
 .p-fixed-l-61 {
   padding-left: 61px; }
 
 .p-fixed-l-62 {
   padding-left: 62px; }
 
 .p-fixed-l-63 {
   padding-left: 63px; }
 
 .p-fixed-l-64 {
   padding-left: 64px; }
 
 .p-fixed-l-65 {
   padding-left: 65px; }
 
 .p-fixed-l-66 {
   padding-left: 66px; }
 
 .p-fixed-l-67 {
   padding-left: 67px; }
 
 .p-fixed-l-68 {
   padding-left: 68px; }
 
 .p-fixed-l-69 {
   padding-left: 69px; }
 
 .p-fixed-l-70 {
   padding-left: 70px; }
 
 .p-fixed-l-71 {
   padding-left: 71px; }
 
 .p-fixed-l-72 {
   padding-left: 72px; }
 
 .p-fixed-l-73 {
   padding-left: 73px; }
 
 .p-fixed-l-74 {
   padding-left: 74px; }
 
 .p-fixed-l-75 {
   padding-left: 75px; }
 
 .p-fixed-l-76 {
   padding-left: 76px; }
 
 .p-fixed-l-77 {
   padding-left: 77px; }
 
 .p-fixed-l-78 {
   padding-left: 78px; }
 
 .p-fixed-l-79 {
   padding-left: 79px; }
 
 .p-fixed-l-80 {
   padding-left: 80px; }
 
 .p-fixed-l-81 {
   padding-left: 81px; }
 
 .p-fixed-l-82 {
   padding-left: 82px; }
 
 .p-fixed-l-83 {
   padding-left: 83px; }
 
 .p-fixed-l-84 {
   padding-left: 84px; }
 
 .p-fixed-l-85 {
   padding-left: 85px; }
 
 .p-fixed-l-86 {
   padding-left: 86px; }
 
 .p-fixed-l-87 {
   padding-left: 87px; }
 
 .p-fixed-l-88 {
   padding-left: 88px; }
 
 .p-fixed-l-89 {
   padding-left: 89px; }
 
 .p-fixed-l-90 {
   padding-left: 90px; }
 
 .p-fixed-l-91 {
   padding-left: 91px; }
 
 .p-fixed-l-92 {
   padding-left: 92px; }
 
 .p-fixed-l-93 {
   padding-left: 93px; }
 
 .p-fixed-l-94 {
   padding-left: 94px; }
 
 .p-fixed-l-95 {
   padding-left: 95px; }
 
 .p-fixed-l-96 {
   padding-left: 96px; }
 
 .p-fixed-l-97 {
   padding-left: 97px; }
 
 .p-fixed-l-98 {
   padding-left: 98px; }
 
 .p-fixed-l-99 {
   padding-left: 99px; }
 
 .p-fixed-l-100 {
   padding-left: 100px; }
 
 .p-fixed-l-101 {
   padding-left: 101px; }
 
 .p-fixed-l-102 {
   padding-left: 102px; }
 
 .p-fixed-l-103 {
   padding-left: 103px; }
 
 .p-fixed-l-104 {
   padding-left: 104px; }
 
 .p-fixed-l-105 {
   padding-left: 105px; }
 
 .p-fixed-l-106 {
   padding-left: 106px; }
 
 .p-fixed-l-107 {
   padding-left: 107px; }
 
 .p-fixed-l-108 {
   padding-left: 108px; }
 
 .p-fixed-l-109 {
   padding-left: 109px; }
 
 .p-fixed-l-110 {
   padding-left: 110px; }
 
 .p-fixed-l-111 {
   padding-left: 111px; }
 
 .p-fixed-l-112 {
   padding-left: 112px; }
 
 .p-fixed-l-113 {
   padding-left: 113px; }
 
 .p-fixed-l-114 {
   padding-left: 114px; }
 
 .p-fixed-l-115 {
   padding-left: 115px; }
 
 .p-fixed-l-116 {
   padding-left: 116px; }
 
 .p-fixed-l-117 {
   padding-left: 117px; }
 
 .p-fixed-l-118 {
   padding-left: 118px; }
 
 .p-fixed-l-119 {
   padding-left: 119px; }
 
 .p-fixed-l-120 {
   padding-left: 120px; }
 
 .p-fixed-l-121 {
   padding-left: 121px; }
 
 .p-fixed-l-122 {
   padding-left: 122px; }
 
 .p-fixed-l-123 {
   padding-left: 123px; }
 
 .p-fixed-l-124 {
   padding-left: 124px; }
 
 .p-fixed-l-125 {
   padding-left: 125px; }
 
 .p-fixed-l-126 {
   padding-left: 126px; }
 
 .p-fixed-l-127 {
   padding-left: 127px; }
 
 .p-fixed-l-128 {
   padding-left: 128px; }
 
 .p-fixed-l-129 {
   padding-left: 129px; }
 
 .p-fixed-l-130 {
   padding-left: 130px; }
 
 .p-fixed-l-131 {
   padding-left: 131px; }
 
 .p-fixed-l-132 {
   padding-left: 132px; }
 
 .p-fixed-l-133 {
   padding-left: 133px; }
 
 .p-fixed-l-134 {
   padding-left: 134px; }
 
 .p-fixed-l-135 {
   padding-left: 135px; }
 
 .p-fixed-l-136 {
   padding-left: 136px; }
 
 .p-fixed-l-137 {
   padding-left: 137px; }
 
 .p-fixed-l-138 {
   padding-left: 138px; }
 
 .p-fixed-l-139 {
   padding-left: 139px; }
 
 .p-fixed-l-140 {
   padding-left: 140px; }
 
 .p-fixed-l-141 {
   padding-left: 141px; }
 
 .p-fixed-l-142 {
   padding-left: 142px; }
 
 .p-fixed-l-143 {
   padding-left: 143px; }
 
 .p-fixed-l-144 {
   padding-left: 144px; }
 
 .p-fixed-l-145 {
   padding-left: 145px; }
 
 .p-fixed-l-146 {
   padding-left: 146px; }
 
 .p-fixed-l-147 {
   padding-left: 147px; }
 
 .p-fixed-l-148 {
   padding-left: 148px; }
 
 .p-fixed-l-149 {
   padding-left: 149px; }
 
 .p-fixed-l-150 {
   padding-left: 150px; }
 
 .p-fixed-l-151 {
   padding-left: 151px; }
 
 .p-fixed-l-152 {
   padding-left: 152px; }
 
 .p-fixed-l-153 {
   padding-left: 153px; }
 
 .p-fixed-l-154 {
   padding-left: 154px; }
 
 .p-fixed-l-155 {
   padding-left: 155px; }
 
 .p-fixed-l-156 {
   padding-left: 156px; }
 
 .p-fixed-l-157 {
   padding-left: 157px; }
 
 .p-fixed-l-158 {
   padding-left: 158px; }
 
 .p-fixed-l-159 {
   padding-left: 159px; }
 
 .p-fixed-l-160 {
   padding-left: 160px; }
 
 .p-fixed-l-161 {
   padding-left: 161px; }
 
 .p-fixed-l-162 {
   padding-left: 162px; }
 
 .p-fixed-l-163 {
   padding-left: 163px; }
 
 .p-fixed-l-164 {
   padding-left: 164px; }
 
 .p-fixed-l-165 {
   padding-left: 165px; }
 
 .p-fixed-l-166 {
   padding-left: 166px; }
 
 .p-fixed-l-167 {
   padding-left: 167px; }
 
 .p-fixed-l-168 {
   padding-left: 168px; }
 
 .p-fixed-l-169 {
   padding-left: 169px; }
 
 .p-fixed-l-170 {
   padding-left: 170px; }
 
 .p-fixed-l-171 {
   padding-left: 171px; }
 
 .p-fixed-l-172 {
   padding-left: 172px; }
 
 .p-fixed-l-173 {
   padding-left: 173px; }
 
 .p-fixed-l-174 {
   padding-left: 174px; }
 
 .p-fixed-l-175 {
   padding-left: 175px; }
 
 .p-fixed-l-176 {
   padding-left: 176px; }
 
 .p-fixed-l-177 {
   padding-left: 177px; }
 
 .p-fixed-l-178 {
   padding-left: 178px; }
 
 .p-fixed-l-179 {
   padding-left: 179px; }
 
 .p-fixed-l-180 {
   padding-left: 180px; }
 
 .p-fixed-l-181 {
   padding-left: 181px; }
 
 .p-fixed-l-182 {
   padding-left: 182px; }
 
 .p-fixed-l-183 {
   padding-left: 183px; }
 
 .p-fixed-l-184 {
   padding-left: 184px; }
 
 .p-fixed-l-185 {
   padding-left: 185px; }
 
 .p-fixed-l-186 {
   padding-left: 186px; }
 
 .p-fixed-l-187 {
   padding-left: 187px; }
 
 .p-fixed-l-188 {
   padding-left: 188px; }
 
 .p-fixed-l-189 {
   padding-left: 189px; }
 
 .p-fixed-l-190 {
   padding-left: 190px; }
 
 .p-fixed-l-191 {
   padding-left: 191px; }
 
 .p-fixed-l-192 {
   padding-left: 192px; }
 
 .p-fixed-l-193 {
   padding-left: 193px; }
 
 .p-fixed-l-194 {
   padding-left: 194px; }
 
 .p-fixed-l-195 {
   padding-left: 195px; }
 
 .p-fixed-l-196 {
   padding-left: 196px; }
 
 .p-fixed-l-197 {
   padding-left: 197px; }
 
 .p-fixed-l-198 {
   padding-left: 198px; }
 
 .p-fixed-l-199 {
   padding-left: 199px; }
 
 .p-fixed-l-200 {
   padding-left: 200px; }
 
 .p-fixed-l-201 {
   padding-left: 201px; }
 
 .p-fixed-l-202 {
   padding-left: 202px; }
 
 .p-fixed-l-203 {
   padding-left: 203px; }
 
 .p-fixed-l-204 {
   padding-left: 204px; }
 
 .p-fixed-l-205 {
   padding-left: 205px; }
 
 .p-fixed-l-206 {
   padding-left: 206px; }
 
 .p-fixed-l-207 {
   padding-left: 207px; }
 
 .p-fixed-l-208 {
   padding-left: 208px; }
 
 .p-fixed-l-209 {
   padding-left: 209px; }
 
 .p-fixed-l-210 {
   padding-left: 210px; }
 
 .p-fixed-l-211 {
   padding-left: 211px; }
 
 .p-fixed-l-212 {
   padding-left: 212px; }
 
 .p-fixed-l-213 {
   padding-left: 213px; }
 
 .p-fixed-l-214 {
   padding-left: 214px; }
 
 .p-fixed-l-215 {
   padding-left: 215px; }
 
 .p-fixed-l-216 {
   padding-left: 216px; }
 
 .p-fixed-l-217 {
   padding-left: 217px; }
 
 .p-fixed-l-218 {
   padding-left: 218px; }
 
 .p-fixed-l-219 {
   padding-left: 219px; }
 
 .p-fixed-l-220 {
   padding-left: 220px; }
 
 .p-fixed-l-221 {
   padding-left: 221px; }
 
 .p-fixed-l-222 {
   padding-left: 222px; }
 
 .p-fixed-l-223 {
   padding-left: 223px; }
 
 .p-fixed-l-224 {
   padding-left: 224px; }
 
 .p-fixed-l-225 {
   padding-left: 225px; }
 
 .p-fixed-l-226 {
   padding-left: 226px; }
 
 .p-fixed-l-227 {
   padding-left: 227px; }
 
 .p-fixed-l-228 {
   padding-left: 228px; }
 
 .p-fixed-l-229 {
   padding-left: 229px; }
 
 .p-fixed-l-230 {
   padding-left: 230px; }
 
 .p-fixed-l-231 {
   padding-left: 231px; }
 
 .p-fixed-l-232 {
   padding-left: 232px; }
 
 .p-fixed-l-233 {
   padding-left: 233px; }
 
 .p-fixed-l-234 {
   padding-left: 234px; }
 
 .p-fixed-l-235 {
   padding-left: 235px; }
 
 .p-fixed-l-236 {
   padding-left: 236px; }
 
 .p-fixed-l-237 {
   padding-left: 237px; }
 
 .p-fixed-l-238 {
   padding-left: 238px; }
 
 .p-fixed-l-239 {
   padding-left: 239px; }
 
 .p-fixed-l-240 {
   padding-left: 240px; }
 
 .p-fixed-l-241 {
   padding-left: 241px; }
 
 .p-fixed-l-242 {
   padding-left: 242px; }
 
 .p-fixed-l-243 {
   padding-left: 243px; }
 
 .p-fixed-l-244 {
   padding-left: 244px; }
 
 .p-fixed-l-245 {
   padding-left: 245px; }
 
 .p-fixed-l-246 {
   padding-left: 246px; }
 
 .p-fixed-l-247 {
   padding-left: 247px; }
 
 .p-fixed-l-248 {
   padding-left: 248px; }
 
 .p-fixed-l-249 {
   padding-left: 249px; }
 
 .p-fixed-l-250 {
   padding-left: 250px; }
 
 .p-fixed-l-251 {
   padding-left: 251px; }
 
 .p-fixed-l-252 {
   padding-left: 252px; }
 
 .p-fixed-l-253 {
   padding-left: 253px; }
 
 .p-fixed-l-254 {
   padding-left: 254px; }
 
 .p-fixed-l-255 {
   padding-left: 255px; }
 
 .p-fixed-r-1 {
   padding-right: 1px; }
 
 .p-fixed-r-2 {
   padding-right: 2px; }
 
 .p-fixed-r-3 {
   padding-right: 3px; }
 
 .p-fixed-r-4 {
   padding-right: 4px; }
 
 .p-fixed-r-5 {
   padding-right: 5px; }
 
 .p-fixed-r-6 {
   padding-right: 6px; }
 
 .p-fixed-r-7 {
   padding-right: 7px; }
 
 .p-fixed-r-8 {
   padding-right: 8px; }
 
 .p-fixed-r-9 {
   padding-right: 9px; }
 
 .p-fixed-r-10 {
   padding-right: 10px; }
 
 .p-fixed-r-11 {
   padding-right: 11px; }
 
 .p-fixed-r-12 {
   padding-right: 12px; }
 
 .p-fixed-r-13 {
   padding-right: 13px; }
 
 .p-fixed-r-14 {
   padding-right: 14px; }
 
 .p-fixed-r-15 {
   padding-right: 15px; }
 
 .p-fixed-r-16 {
   padding-right: 16px; }
 
 .p-fixed-r-17 {
   padding-right: 17px; }
 
 .p-fixed-r-18 {
   padding-right: 18px; }
 
 .p-fixed-r-19 {
   padding-right: 19px; }
 
 .p-fixed-r-20 {
   padding-right: 20px; }
 
 .p-fixed-r-21 {
   padding-right: 21px; }
 
 .p-fixed-r-22 {
   padding-right: 22px; }
 
 .p-fixed-r-23 {
   padding-right: 23px; }
 
 .p-fixed-r-24 {
   padding-right: 24px; }
 
 .p-fixed-r-25 {
   padding-right: 25px; }
 
 .p-fixed-r-26 {
   padding-right: 26px; }
 
 .p-fixed-r-27 {
   padding-right: 27px; }
 
 .p-fixed-r-28 {
   padding-right: 28px; }
 
 .p-fixed-r-29 {
   padding-right: 29px; }
 
 .p-fixed-r-30 {
   padding-right: 30px; }
 
 .p-fixed-r-31 {
   padding-right: 31px; }
 
 .p-fixed-r-32 {
   padding-right: 32px; }
 
 .p-fixed-r-33 {
   padding-right: 33px; }
 
 .p-fixed-r-34 {
   padding-right: 34px; }
 
 .p-fixed-r-35 {
   padding-right: 35px; }
 
 .p-fixed-r-36 {
   padding-right: 36px; }
 
 .p-fixed-r-37 {
   padding-right: 37px; }
 
 .p-fixed-r-38 {
   padding-right: 38px; }
 
 .p-fixed-r-39 {
   padding-right: 39px; }
 
 .p-fixed-r-40 {
   padding-right: 40px; }
 
 .p-fixed-r-41 {
   padding-right: 41px; }
 
 .p-fixed-r-42 {
   padding-right: 42px; }
 
 .p-fixed-r-43 {
   padding-right: 43px; }
 
 .p-fixed-r-44 {
   padding-right: 44px; }
 
 .p-fixed-r-45 {
   padding-right: 45px; }
 
 .p-fixed-r-46 {
   padding-right: 46px; }
 
 .p-fixed-r-47 {
   padding-right: 47px; }
 
 .p-fixed-r-48 {
   padding-right: 48px; }
 
 .p-fixed-r-49 {
   padding-right: 49px; }
 
 .p-fixed-r-50 {
   padding-right: 50px; }
 
 .p-fixed-t-1 {
   padding-top: 1px; }
 
 .p-fixed-t-2 {
   padding-top: 2px; }
 
 .p-fixed-t-3 {
   padding-top: 3px; }
 
 .p-fixed-t-4 {
   padding-top: 4px; }
 
 .p-fixed-t-5 {
   padding-top: 5px; }
 
 .p-fixed-t-6 {
   padding-top: 6px; }
 
 .p-fixed-t-7 {
   padding-top: 7px; }
 
 .p-fixed-t-8 {
   padding-top: 8px; }
 
 .p-fixed-t-9 {
   padding-top: 9px; }
 
 .p-fixed-t-10 {
   padding-top: 10px; }
 
 .p-fixed-t-11 {
   padding-top: 11px; }
 
 .p-fixed-t-12 {
   padding-top: 12px; }
 
 .p-fixed-t-13 {
   padding-top: 13px; }
 
 .p-fixed-t-14 {
   padding-top: 14px; }
 
 .p-fixed-t-15 {
   padding-top: 15px; }
 
 .p-fixed-t-16 {
   padding-top: 16px; }
 
 .p-fixed-t-17 {
   padding-top: 17px; }
 
 .p-fixed-t-18 {
   padding-top: 18px; }
 
 .p-fixed-t-19 {
   padding-top: 19px; }
 
 .p-fixed-t-20 {
   padding-top: 20px; }
 
 .p-fixed-t-21 {
   padding-top: 21px; }
 
 .p-fixed-t-22 {
   padding-top: 22px; }
 
 .p-fixed-t-23 {
   padding-top: 23px; }
 
 .p-fixed-t-24 {
   padding-top: 24px; }
 
 .p-fixed-t-25 {
   padding-top: 25px; }
 
 .p-fixed-t-26 {
   padding-top: 26px; }
 
 .p-fixed-t-27 {
   padding-top: 27px; }
 
 .p-fixed-t-28 {
   padding-top: 28px; }
 
 .p-fixed-t-29 {
   padding-top: 29px; }
 
 .p-fixed-t-30 {
   padding-top: 30px; }
 
 .p-fixed-t-31 {
   padding-top: 31px; }
 
 .p-fixed-t-32 {
   padding-top: 32px; }
 
 .p-fixed-t-33 {
   padding-top: 33px; }
 
 .p-fixed-t-34 {
   padding-top: 34px; }
 
 .p-fixed-t-35 {
   padding-top: 35px; }
 
 .p-fixed-t-36 {
   padding-top: 36px; }
 
 .p-fixed-t-37 {
   padding-top: 37px; }
 
 .p-fixed-t-38 {
   padding-top: 38px; }
 
 .p-fixed-t-39 {
   padding-top: 39px; }
 
 .p-fixed-t-40 {
   padding-top: 40px; }
 
 .p-fixed-t-41 {
   padding-top: 41px; }
 
 .p-fixed-t-42 {
   padding-top: 42px; }
 
 .p-fixed-t-43 {
   padding-top: 43px; }
 
 .p-fixed-t-44 {
   padding-top: 44px; }
 
 .p-fixed-t-45 {
   padding-top: 45px; }
 
 .p-fixed-t-46 {
   padding-top: 46px; }
 
 .p-fixed-t-47 {
   padding-top: 47px; }
 
 .p-fixed-t-48 {
   padding-top: 48px; }
 
 .p-fixed-t-49 {
   padding-top: 49px; }
 
 .p-fixed-t-50 {
   padding-top: 50px; }
 
 .p-fixed-b-1 {
   padding-bottom: 1px; }
 
 .p-fixed-b-2 {
   padding-bottom: 2px; }
 
 .p-fixed-b-3 {
   padding-bottom: 3px; }
 
 .p-fixed-b-4 {
   padding-bottom: 4px; }
 
 .p-fixed-b-5 {
   padding-bottom: 5px; }
 
 .p-fixed-b-6 {
   padding-bottom: 6px; }
 
 .p-fixed-b-7 {
   padding-bottom: 7px; }
 
 .p-fixed-b-8 {
   padding-bottom: 8px; }
 
 .p-fixed-b-9 {
   padding-bottom: 9px; }
 
 .p-fixed-b-10 {
   padding-bottom: 10px; }
 
 .p-fixed-b-11 {
   padding-bottom: 11px; }
 
 .p-fixed-b-12 {
   padding-bottom: 12px; }
 
 .p-fixed-b-13 {
   padding-bottom: 13px; }
 
 .p-fixed-b-14 {
   padding-bottom: 14px; }
 
 .p-fixed-b-15 {
   padding-bottom: 15px; }
 
 .p-fixed-b-16 {
   padding-bottom: 16px; }
 
 .p-fixed-b-17 {
   padding-bottom: 17px; }
 
 .p-fixed-b-18 {
   padding-bottom: 18px; }
 
 .p-fixed-b-19 {
   padding-bottom: 19px; }
 
 .p-fixed-b-20 {
   padding-bottom: 20px; }
 
 .p-fixed-b-21 {
   padding-bottom: 21px; }
 
 .p-fixed-b-22 {
   padding-bottom: 22px; }
 
 .p-fixed-b-23 {
   padding-bottom: 23px; }
 
 .p-fixed-b-24 {
   padding-bottom: 24px; }
 
 .p-fixed-b-25 {
   padding-bottom: 25px; }
 
 .p-fixed-b-26 {
   padding-bottom: 26px; }
 
 .p-fixed-b-27 {
   padding-bottom: 27px; }
 
 .p-fixed-b-28 {
   padding-bottom: 28px; }
 
 .p-fixed-b-29 {
   padding-bottom: 29px; }
 
 .p-fixed-b-30 {
   padding-bottom: 30px; }
 
 .p-fixed-b-31 {
   padding-bottom: 31px; }
 
 .p-fixed-b-32 {
   padding-bottom: 32px; }
 
 .p-fixed-b-33 {
   padding-bottom: 33px; }
 
 .p-fixed-b-34 {
   padding-bottom: 34px; }
 
 .p-fixed-b-35 {
   padding-bottom: 35px; }
 
 .p-fixed-b-36 {
   padding-bottom: 36px; }
 
 .p-fixed-b-37 {
   padding-bottom: 37px; }
 
 .p-fixed-b-38 {
   padding-bottom: 38px; }
 
 .p-fixed-b-39 {
   padding-bottom: 39px; }
 
 .p-fixed-b-40 {
   padding-bottom: 40px; }
 
 .p-fixed-b-41 {
   padding-bottom: 41px; }
 
 .p-fixed-b-42 {
   padding-bottom: 42px; }
 
 .p-fixed-b-43 {
   padding-bottom: 43px; }
 
 .p-fixed-b-44 {
   padding-bottom: 44px; }
 
 .p-fixed-b-45 {
   padding-bottom: 45px; }
 
 .p-fixed-b-46 {
   padding-bottom: 46px; }
 
 .p-fixed-b-47 {
   padding-bottom: 47px; }
 
 .p-fixed-b-48 {
   padding-bottom: 48px; }
 
 .p-fixed-b-49 {
   padding-bottom: 49px; }
 
 .p-fixed-b-50 {
   padding-bottom: 50px; }
 
 /* Responsive */
 .p-1 {
   padding: 1rem; }
 
 .p-2 {
   padding: 2rem; }
 
 .p-3 {
   padding: 3rem; }
 
 .p-4 {
   padding: 4rem; }
 
 .p-5 {
   padding: 5rem; }
 
 .p-6 {
   padding: 6rem; }
 
 .p-7 {
   padding: 7rem; }
 
 .p-8 {
   padding: 8rem; }
 
 .p-9 {
   padding: 9rem; }
 
 .p-10 {
   padding: 10rem; }
 
 .p-11 {
   padding: 11rem; }
 
 .p-12 {
   padding: 12rem; }
 
 .p-13 {
   padding: 13rem; }
 
 .p-14 {
   padding: 14rem; }
 
 .p-15 {
   padding: 15rem; }
 
 .p-16 {
   padding: 16rem; }
 
 .p-17 {
   padding: 17rem; }
 
 .p-18 {
   padding: 18rem; }
 
 .p-19 {
   padding: 19rem; }
 
 .p-20 {
   padding: 20rem; }
 
 .p-l-1 {
   padding-left: 1rem; }
 
 .p-l-2 {
   padding-left: 2rem; }
 
 .p-l-3 {
   padding-left: 3rem; }
 
 .p-l-4 {
   padding-left: 4rem; }
 
 .p-l-5 {
   padding-left: 5rem; }
 
 .p-l-6 {
   padding-left: 6rem; }
 
 .p-l-7 {
   padding-left: 7rem; }
 
 .p-l-8 {
   padding-left: 8rem; }
 
 .p-l-9 {
   padding-left: 9rem; }
 
 .p-l-10 {
   padding-left: 10rem; }
 
 .p-l-11 {
   padding-left: 11rem; }
 
 .p-l-12 {
   padding-left: 12rem; }
 
 .p-l-13 {
   padding-left: 13rem; }
 
 .p-l-14 {
   padding-left: 14rem; }
 
 .p-l-15 {
   padding-left: 15rem; }
 
 .p-l-16 {
   padding-left: 16rem; }
 
 .p-l-17 {
   padding-left: 17rem; }
 
 .p-l-18 {
   padding-left: 18rem; }
 
 .p-l-19 {
   padding-left: 19rem; }
 
 .p-l-20 {
   padding-left: 20rem; }
 
 .p-r-1 {
   padding-right: 1rem; }
 
 .p-r-2 {
   padding-right: 2rem; }
 
 .p-r-3 {
   padding-right: 3rem; }
 
 .p-r-4 {
   padding-right: 4rem; }
 
 .p-r-5 {
   padding-right: 5rem; }
 
 .p-r-6 {
   padding-right: 6rem; }
 
 .p-r-7 {
   padding-right: 7rem; }
 
 .p-r-8 {
   padding-right: 8rem; }
 
 .p-r-9 {
   padding-right: 9rem; }
 
 .p-r-10 {
   padding-right: 10rem; }
 
 .p-r-11 {
   padding-right: 11rem; }
 
 .p-r-12 {
   padding-right: 12rem; }
 
 .p-r-13 {
   padding-right: 13rem; }
 
 .p-r-14 {
   padding-right: 14rem; }
 
 .p-r-15 {
   padding-right: 15rem; }
 
 .p-r-16 {
   padding-right: 16rem; }
 
 .p-r-17 {
   padding-right: 17rem; }
 
 .p-r-18 {
   padding-right: 18rem; }
 
 .p-r-19 {
   padding-right: 19rem; }
 
 .p-r-20 {
   padding-right: 20rem; }
 
 .p-t-1 {
   padding-top: 1rem; }
 
 .p-t-2 {
   padding-top: 2rem; }
 
 .p-t-3 {
   padding-top: 3rem; }
 
 .p-t-4 {
   padding-top: 4rem; }
 
 .p-t-5 {
   padding-top: 5rem; }
 
 .p-t-6 {
   padding-top: 6rem; }
 
 .p-t-7 {
   padding-top: 7rem; }
 
 .p-t-8 {
   padding-top: 8rem; }
 
 .p-t-9 {
   padding-top: 9rem; }
 
 .p-t-10 {
   padding-top: 10rem; }
 
 .p-t-11 {
   padding-top: 11rem; }
 
 .p-t-12 {
   padding-top: 12rem; }
 
 .p-t-13 {
   padding-top: 13rem; }
 
 .p-t-14 {
   padding-top: 14rem; }
 
 .p-t-15 {
   padding-top: 15rem; }
 
 .p-t-16 {
   padding-top: 16rem; }
 
 .p-t-17 {
   padding-top: 17rem; }
 
 .p-t-18 {
   padding-top: 18rem; }
 
 .p-t-19 {
   padding-top: 19rem; }
 
 .p-t-20 {
   padding-top: 20rem; }
 
 .p-b-1 {
   padding-bottom: 1rem; }
 
 .p-b-2 {
   padding-bottom: 2rem; }
 
 .p-b-3 {
   padding-bottom: 3rem; }
 
 .p-b-4 {
   padding-bottom: 4rem; }
 
 .p-b-5 {
   padding-bottom: 5rem; }
 
 .p-b-6 {
   padding-bottom: 6rem; }
 
 .p-b-7 {
   padding-bottom: 7rem; }
 
 .p-b-8 {
   padding-bottom: 8rem; }
 
 .p-b-9 {
   padding-bottom: 9rem; }
 
 .p-b-10 {
   padding-bottom: 10rem; }
 
 .p-b-11 {
   padding-bottom: 11rem; }
 
 .p-b-12 {
   padding-bottom: 12rem; }
 
 .p-b-13 {
   padding-bottom: 13rem; }
 
 .p-b-14 {
   padding-bottom: 14rem; }
 
 .p-b-15 {
   padding-bottom: 15rem; }
 
 .p-b-16 {
   padding-bottom: 16rem; }
 
 .p-b-17 {
   padding-bottom: 17rem; }
 
 .p-b-18 {
   padding-bottom: 18rem; }
 
 .p-b-19 {
   padding-bottom: 19rem; }
 
 .p-b-20 {
   padding-bottom: 20rem; }
 
 /* Remove */
 .p.rm {
   padding: 0 !important; }
 
 .p.rm-l {
   padding-left: 0 !important; }
 
 .p.rm-r {
   padding-right: 0 !important; }
 
 .p.rm-t {
   padding-top: 0 !important; }
 
 .p.rm-b {
   padding-bottom: 0 !important; }
 
  .border-box{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
 /* ============================================================================================================
  * Background
  * ============================================================================================================ */
 /* Colors */
 .bg.vex-green {
   background-color: #102327; }
 
 .bg.black {
   background-color: black; }
 
 .bg.white {
   background-color: white; }
 
 .bg.brown-grey {
   background-color: #313131; }
 
 /* Size */
 .bg.cover {
   background-size: cover; }
 
 .bg.contain {
   background-size: contain; }
 
 .bg.no-repeat {
   background: no-repeat; }
 
 /* Position */
 .bg.t-l {
   background-position: 0 0; }
 
 .bg.t-m {
   background-position: 50% 0; }
 
 .bg.t-r {
   background-position: 100% 0; }
 
 .bg.m-l {
   background-position: 0 50%; }
 
 .bg.m-m {
   background-position: 50% 50%; }
 
 .bg.m-r {
   background-position: 100% 50%; }
 
 .bg.b-l {
   background-position: 0 100%; }
 
 .bg.b-m {
   background-position: 50% 100%; }
 
 .bg.b-r {
   background-position: 100% 100%; }
 
 /* Attachment */
 .bg.fixed {
   background-attachment: fixed; }
 
 /* Exclude touch devices because `fixed` doesn't work on iOS and Android */
 @media (pointer: coarse) {
   .bg.fixed {
     background-attachment: scroll; } }
 /* Image Responsive */
 /* Phone portrait and smaller */
 @media (max-width: 639px) {
   .bg.image\@s {
     background-image: none !important; } }
 /* Phone landscape and smaller */
 @media (max-width: 959px) {
   .bg.image\@m {
     background-image: none !important; } }
 /* Tablet landscape and smaller */
 @media (max-width: 1199px) {
   .bg.image\@l {
     background-image: none !important; } }
 /* Desktop and smaller */
 @media (max-width: 1599px) {
   .bg.image\@xl {
     background-image: none !important; } }

 /* ============================================================================================================
  * Branding
  * ============================================================================================================ */
 .brand.vex {
   font-family: "audowide";
   font-size: x-large;
   color: #FEBA2A;
   margin-top: 15px !important;
   margin-bottom: 0 !important; }
 
 /* ============================================================================================================
  * Height
  * ============================================================================================================ */
 .vh-100 {
   height: 100vh; }
 /* ============================================================================================================
  * Width
  *============================================================================================================= */

  .vw-100 {
    width: 100vw;
  } 
  .vw-80 {
    width: 80vw;
  }

  .vw-20 {
    width: 20vw;
  }
  .w-auto {
    width: auto;
  }

 /* ============================================================================================================
  * Banner
  * ============================================================================================================ */
 .banner {
   position: relative;
   z-index: 10;
   max-width: 100%;
   overflow: hidden; }
   .banner .info {
     position: absolute;
     padding-left: 5rem;
     padding-top: 1rem;
     max-width: 400px; }
 
 .banner-full {
   position: relative;
   max-width: 100%;
   overflow-x: hidden; }
   .banner-full img {
     z-index: 0; }
   .banner-full .info {
     align-items: left;
     position: absolute;
     padding: 60px 50px 50px 50px;
     max-width: 500px;
     z-index: 5; }
   .banner-full .desc {
     font-size: 20px; }
   .banner-full .text.imdb.score {
     font-size: 20px !important; }
   .banner-full .text.vex.points {
     font-size: 20px !important;
     color: chartreuse; }
   .banner-full .btn.outline.yellow {
     font-size: 22px !important; }
   .banner-full .overlay {
     display: block;
     position: absolute;
     width: 100%;
     height: 100%;
     background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
     overflow-x: hidden;
     z-index: 1; }
   .banner-full .about {
     display: flex;
     flex-direction: row;
     padding-left: 2rem;
     position: absolute;
     background-color: rgba(0, 0, 0, 0.8);
     width: 30%;
     height: 32%;
     bottom: 0;
     z-index: 5; }
     .banner-full .about .content {
       margin: 1.2rem; }
   .banner-full .about.outline {
     border: 1px solid #00838F; }
 
 /* ============================================================================================================
  * Headers
  * ============================================================================================================ */
 .section.header {
   color: #FEBA2A;
   font-size: x-large; }
 
 /* ============================================================================================================
  * Images
  * ============================================================================================================ */
 .img {
   position: relative;
   display: inline-block;
   vertical-align: middle;
   max-width: 100%;
   background-color: transparent; }
 
 .img.circle {
   -webkit-border-radius: 500rem;
   -moz-border-radius: 500rem;
   border-radius: 500rem;
   overflow: hidden; }
 
 .img img {
   display: block;
   max-width: 100%;
   height: auto; }
 
 /* ============================================================================================================
  * Text
  * ============================================================================================================ */
 .text.white.override {
   color: #ffffff !important; }
 
 .text.vex.points {
   color: #d50000; }
 
 .text.imdb.score {
   color: #FEBA2A; }
 
 /* ============================================================================================================
  * Search
  * ============================================================================================================ */
 .search {
   position: relative;
   border:none!important;
   border-bottom: 1px solid grey!important;
   outline: none!important;
   padding: 10px;
   font-size: 16px;
   font-family: "roboto";
   width: 200px;
   background: transparent;
   color: #ffffff;
   text-indent: 5px; 
  transition: 0.5s border ease , 0.5s width ease;
  -webkit-transition: 0.5s border ease, 0.5s width ease;
  -moz-transition: 0.5s border ease, 0.5s width ease;
  height: 48px;
  }
  /* ===REDUNDANT=== Delete 27/10/18 */
  /* input[type="text"]{
    border:none!important;
   border-bottom: 1px solid grey!important;
   outline: none!important;
   padding: 10px;
   font-size: 16px;
   font-family: "roboto";
   width: 100%;
   background: transparent;
   color: #ffffff;
   text-indent: 5px; 
  transition: 0.5s border ease;
  -webkit-transition: 0.5s border ease;
  -moz-transition: 0.5s border ease;
  height: 48px;
  }
  
  input[type="text"]:focus{
    border-bottom: 1px solid white!important;
  } */

  /* input::placeholder{
   color: white!important;
  } */

   .search:focus{
     border-bottom: 1px solid white!important;
     width: 300px;
   }

  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent !important;
    background-image: none !important;
    color: white !important;
  }
 .search::placeholder {
   color: #ffffff;
  }
 
 /* ============================================================================================================
  * Cards
  * ============================================================================================================ */
 /* ============================================================================================================
  * Position
  * ============================================================================================================ */
 .absolute {
   position: absolute !important; }
 
 /* ============================================================================================================
  * Sections
  * ============================================================================================================ */
 .section .movie-cover {
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   padding: 0.2rem;
   height: 250px;
   overflow: hidden; }
 .section .vex-points {
   font-size: 14px;
   color: #d50000; }
 
 .section > a {
   text-decoration: none;
   color: #ECEFF1; }
 
 .section > a > p {
   text-align: center;
   margin-top: 0 !important;
   margin-bottom: 5px !important; }
 
 /* ============================================================================================================
  * Buttons
  * ============================================================================================================ */
 .btn.outline.yellow {
   background-color: transparent;
   border: 2px solid #FEBA2A;
   color: #FEBA2A;
   padding: 5px 2rem 5px 2rem;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
  border-radius: 5px;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
}
 
.btn.outline.yellow:hover {
  background-color: #c38605;
  border: 2px solid #c38605;
  color: white;
 border-radius: 5px; 
}

.button {
  padding: 0.5 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  -webkit-appearance: button;
  outline: none;
  border: none;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
}
 
 /* ============================================================================================================
  * Progress bar
  * ============================================================================================================ */
 .prog-bar-light-grey {
   color: #000 !important;
   background-color: #353535 !important;
   width: 150px; }
 
 .prog-bar-round-xlarge {
   border-radius: 8px; }
 
 .prog-bar-red, .prog-bar-hover-red:hover {
   color: #fff !important;
   background-color: #2e2e58 !important; }
 
 .prog-bar-container, .prog-bar-panel {
   padding: 6px 16px; }
 
 /* ============================================================================================================
  * Buttons
  * ============================================================================================================ */
 .rating {
   display: flex;
   justify-content: left;
   unicode-bidi: bidi-override;
   text-align: left;
   direction: rtl; }
 
 .rating > span {
   display: inline-block;
   position: relative;
   width: 1rem;
   color: #d50000; }
 
 .rating > span:hover:before,
 .rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #d50000; }
 
 /*# sourceMappingURL=style.css.map */

 /* ============================================================================================================
  * Scrollbar bro!
  * ============================================================================================================ */
 
  ::-webkit-scrollbar {
    width: 8px;
    
  }

  .sidebar::-webkit-scrollbar {
    width: 5px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 1rem;
    transition: all 1s;
    
  }

  ::-webkit-scrollbar-track {
    background: none;
    transition: all 0.3s ease-in-out;
    margin: 5px 0px;
  }

   ::-webkit-scrollbar-thumb {
    background-color: #FEBA2Ade;
    border-radius: 1rem;
    transition: all 0.5s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #FEBA2Acc;
  }

  .sidebar::-webkit-scrollbar-thumb {
    transition: background-color 0.5s;
  }

  .sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #FEBA2Ade;
  }
  .sidebar::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb {
    background-color: #FEBA2Acc;
  }

  ::-webkit-scrollbar-thumb:active{
    background-color: #FEBA2A;
  }

  /* ============================================================================================================
  * Component Styles 
  * ============================================================================================================ */

  app-media-list {
    width: 100%;
    overflow: auto;
  }

  app-videoplayer{
    overflow-y: scroll;
  }
  

  /* =================================================================================================================== */
  /* Colors */
  /* ==================================================================================================================== */
  .pos-relative{
    position: relative!important;
  }
  .pos-absolute{
    position: absolute!important;
  }

  .font-PTsans{
    font-family: 'PT sans', sans-serif;
  }

  .font-small-80{
    font-size: 80%!important;
  }

  .font-small-90{
    font-size: 90%!important;
  }

  .color-gainsboro{
    color: gainsboro!important;
  }

  .color-grey{
    color: grey!important;
  }

  .color-black{
    color: black!important;
  }

  .color-white{
    color: white!important;
  }

  .float-left{
    float: left!important;
  }

  h1,h2,h3,h4,h5{
    font-weight: lighter;
  }
  .float-right{
    float: right!important;
  }

  .rounded{
    border-radius: 50%!important; 
  }
  /* ========================================================================================= */
  /* Animations */
  /* ========================================================================================= */


  .wiggle{
    animation-name: wiggle;
    animation-duration: 1500ms;
    animation-iteration-count: 4;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: wiggle;
    animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1500ms;
    animation-duration: 1500ms;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
    -ms-animation-iteration-count: 4;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  90% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  90% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(0deg);}}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  90% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(0deg);}}


  /* ================================================================================================ */
  /* Component Styles (mostly margin increase) */
  /* ================================================================================================= */



  /* ==================================================================================================== */
  /* Moyi's Display Classes */
  /* ===================================================================================================== */
  .d-inline{
    display: inline!important;
  }

  .d-inline-block{
    display: inline-block!important;
  }

  .text-center{
    text-align: center;
  }
  /* ==================================================================================================== */
  /* Bootstrap Grid */
  /* ================================================================================================== */
  @media (min-width: 768px) {
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @media (min-width: 576px) {
    .col-sm {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-sm-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-sm-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-sm-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-sm-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-sm-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-sm-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-sm-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-sm-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-sm-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-sm-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-sm-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-sm-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-sm-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @media (min-width: 992px) {
    .col-lg {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-lg-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-lg-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-lg-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-lg-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-lg-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-lg-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-lg-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-lg-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-lg-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-lg-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-lg-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-lg-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-lg-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .col-xl {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-xl-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-xl-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-xl-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-xl-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-xl-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-xl-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-xl-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-xl-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-xl-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-xl-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-xl-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-xl-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-xl-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .sidebar.left.w-250.open {
    margin-left: 0px;
  }

  .overflow-hidden{
    overflow: hidden!important;
  }

  .d-block{
    display: block!important;
  }

  .sidebar-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 90;
    display: block;
    position: absolute;
    transition: all ease 0.5s;
  }

  .opacity-anim-forwards{
    animation-name: opacity;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -ms-animation-name: opacity;
    -ms-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes opacity {
  0% { opacity:0}
  /* 99.999% { background:blue; } */
  100% { opacity: .8 }
}

@-ms-keyframes opacity {
  0% { opacity:0}
  /* 99.999% { background:blue; } */
  100% { opacity: .8 }
}

@keyframes opacity {
  0% { opacity:0}
  /* 99.999% { background:blue; } */
  100% { opacity: .8 }
}

/*.opacity-anim-backwards{
  animation-name: opacity-back;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -webkit-animation-name: opacity-back;
  animation-name: opacity-back;
  -ms-animation-name: opacity-back;
  -ms-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
} */

/* @-webkit-keyframes opacity-back {
0% { opacity:.8}
100% { opacity: .0 }
}

@-ms-keyframes opacity-back {
0% { opacity:.8}
100% { opacity: .0 }
}

@keyframes opacity-back {
0% { opacity:.8}
100% { opacity: 0 }
} */
.sidebar-overlay.closed {
  display: none;
}

.sidebar.left.w-250 {
  display: block;
  position: fixed;
  width: 200px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  background-color: #0b0b0c;
  margin-left: -200px;
  transition: margin-left .5s;
  box-shadow: 1px -2px 5px 1px rgba(0, 0, 0, 0.4);
}

.main.right {
  position: relative;
  z-index: 11;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}

.sidebar.left.w-200 {
  display: block;
  position: relative;
  margin: 0;
  width: 200px;
  height: 100vh;
  overflow: hidden;
  background-color: #121215;
}
.sidebar.left.w-200 .fa-search {
  position: absolute;
  height: 16px;
  top: 272px;
  left: 30px;
  z-index: 100;
}

.sidebar.logo {
  text-align: center;
  width: 100%;
  height: 36px;
}

.sidebar.profile-info {
  color: #feba2a;
  font-size: large;
}

.sidebar.vex.points {
  color: #ffffff;
  font-size: medium;
}

.sidebar.menu.items {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.sidebar.menu.items > li {
  padding-bottom: 5px;
  font-family: "roboto";
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  padding-inline-start: 1.3rem;
  border-left: 4px solid transparent !important;
}

.sidebar.menu.items > li:hover {
  background-color: #2323275e;
}

.sidebar.menu.items > li.active {
  border-left: 4px solid #feba2a !important;
}

.footer-menu{
  position: absolute;
  margin-top: auto;
  width: 100%;
  /* bottom: 0px; */
}

.footer-menu .sidebar.menu.items > li {
  padding-bottom: 5px;
  font-family: "roboto";
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
  cursor: pointer;
  padding-inline-start: 1.3rem;
}

.footer-menu .sidebar.menu.items > li:hover {
  background-color: #2323275e;
}

.sidebar.menu.items > li > a {
  font-family: "roboto";
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  color: #ffffff;
}


/* ===============PROGRESS BAR! ============*/

/* Progress Bar */
.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0;
  overflow: hidden;
  z-index: 13;
}
.progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #feba2a;
  transition: width 0.3s linear;
}
.progress .indeterminate {
  background-color: #feba2a;
}
.progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 1.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite;
  animation: indeterminate 1.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 1.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation: indeterminate-short 1.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  -webkit-animation-delay: 0.85s;
  animation-delay: 0.85s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}